<ion-content
  ><section class="list-page">
    <div
      class=""
      
   
    >
      <h1
        class="heading-6" style="text-align:center"
       
      >
        AeroSport
      </h1>
      <div class="w-layout-grid grid-list"
      style="overflow-y: auto; max-height: 460px; -ms-overflow-style: none">
        <a
          id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Area Forecasts : Cloud Cover</h1>
        </a>
        <a
          id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5"> Area Forecasts : Connective Cloud</h1>
        </a>
        <a
          id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Area Forecasts : Wind</h1>
        </a>
        <a
          id="w-node-eeb1886e-2c92-e02c-6736-b9ae31e75cb6-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Area Forecasts : Thermals</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Area Forecasts : Temperatures</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Spot Graph Map</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">TS (Thunderstorm Probability)</h1>
        </a>
      </div>
    </div>

    <div class="list-div" *ngIf="isLoggedIn==false">
    
    </div>
    <div class="bottomdiv" style=" margin-top: 156%;">
      <img
        src="../../assets/Path-3447.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
      <div class="footerdiv">
        <a (click)="aerosportPage()" class="w-inline-block"
          ><img src="../../assets/Group-3489.svg" loading="lazy" alt=""
        /></a>
      </div>
    </div>
    </section
></ion-content>
