

.div-block-5 {
  justify-content: center;
  align-items: center;
  margin-top: -78px;
  display: flex;
}
.linkspace {
  margin-left: 4px;
}
// #mainsection{
//   overflow-y: clip !important;
//   overscroll-behavior-y: none !important;
// }
.fas {
  position: absolute;
  right: 37px;
  margin-top: -23px;
  transform: translateY(-50%);
  cursor: pointer;
}
.custom-content {
  --ion-background-color: #ffffff; /* Set background color */
  --ion-text-color: #000000; /* Set text color */
}

.custom-content.dark {
  --ion-background-color: #ffffff; /* Set background color for dark mode */
  --ion-text-color: #121212; /* Set text color for dark mode */
}
.w-checkbox-input {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
  color: #00386c;
}

/* Checkbox label styling */
.checkbox-label {
  font-size: 14px;
  color: #00386c;
}
