<div *ngIf="loading" class="loading-indicator">Loading...</div>
<section class="section">
  <div class="div-block-2">
    <img
      src="/assets/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>
  <div class="div-block">
    <img
      src="/assets/Mask-Group-33x.png"
      loading="lazy"
      width="212"
      alt=""
      class="image-2"
    />
  </div>
  <h1 class="heading">LOGIN</h1>
  <div class="div-block-3">
    <div class="w-form">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        data-wf-page-id="659521adf58cf3b2b367414f"
        data-wf-element-id="20ed0310-03da-2f9b-d789-72d5c0b79626"
      >
        <label for="name" class="field-label">Username</label
        ><input
          type="text"
          class="text-field w-input"
          maxlength="256"
          name="name"
          data-name="Name"
          placeholder="Type your username"
          id="name"
          formControlName="username"
          required=""
        /><label for="field" class="field-label-2">Password</label
        ><input
          type="password"
          class="text-field w-input"
          maxlength="256"
          name="field"
          data-name=""
          placeholder="Type your Password"
          id="field"
          required=""
          formControlName="password"
        />
        <div class="w-layout-grid grid">
          <div id="w-node-_6e6af7e3-63da-7985-a081-2b45a0e94176-b367414f">
            <label class="w-checkbox checkbox-field"
              ><input
                type="checkbox"
                id="checkbox"
                name="checkbox"
                data-name="Checkbox"
                class="w-checkbox-input"
              /><span class="checkbox-label w-form-label" for="checkbox"
                >Remember Me</span
              ></label
            >
          </div>
          <div
            id="w-node-_5a2d7d19-0969-1d91-ec5c-ff2a96283cf6-b367414f"
            class="div-block-4"
          >
            <a href="/forgot-password" class="forgotpassword"
              >Forgot Password</a
            >
          </div>
        </div>
        <input
          type="submit"
          value="Login"
          data-wait="Please wait..."
          class="submit-button w-button"
        />
        <div style="color: red" *ngIf="notLogged==true">
          <div>Invalid username or password</div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail" *ngIf="notLogged==true">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
    <h5 class="createlinktext">
      Need an account?<a href="/register"> Create account</a>
    </h5>
  </div>
  <div class="bottomdiv">
    <img
      src="/assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
    <div class="div-block-5" (click)="home()">
      <a class="w-inline-block"
        ><img src="/assets/Group-3489.svg" loading="lazy" alt=""
      /></a>
    </div>
  </div>
</section>

