// @media screen and (max-width: 768px) {
//   /* Add styles to adjust layout for smaller screens */
//   body {
//     overflow-y: scroll; /* Enable vertical scrolling */
//   }
// }
// /* Add styling for the loading indicator */
// .loading-indicator {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(255, 255, 255, 0.8);
//   z-index: 1000;
//   color: blue;
//   font-size: x-large;
// }
// .w-layout-grid {
//   grid-row-gap: 16px;
//   grid-column-gap: 16px;
//   grid-template-rows: auto auto;
//   grid-template-columns: 1fr 1fr;
//   grid-auto-columns: 1fr;
//   display: grid;
// }

// .w-checkbox {
//   margin-bottom: 5px;
//   padding-left: 20px;
//   display: block;
// }

// .w-checkbox:before {
//   content: " ";
//   grid-area: 1 / 1 / 2 / 2;
//   display: table;
// }

// .w-checkbox:after {
//   content: " ";
//   clear: both;
//   grid-area: 1 / 1 / 2 / 2;
//   display: table;
// }

// .w-checkbox-input {
//   float: left;
//   margin: 4px 0 0 -20px;
//   line-height: normal;
// }

// .w-checkbox-input--inputType-custom {
//   width: 12px;
//   height: 12px;
//   border: 1px solid #ccc;
//   border-radius: 2px;
// }

// .w-checkbox-input--inputType-custom.w--redirected-checked {
//   background-color: #3898ec;
//   background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg");
//   background-position: 50%;
//   background-repeat: no-repeat;
//   background-size: cover;
//   border-color: #3898ec;
// }

// .w-checkbox-input--inputType-custom.w--redirected-focus {
//   box-shadow: 0 0 3px 1px #3898ec;
// }

// .body {
//   justify-content: center;
//   align-items: center;
//   display: flex;
// }

// .section {
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: center;
//   display: flex;
//   position: absolute;
//   top: 0%;
//   bottom: 0%;
//   left: 0%;
//   right: 0%;
// }

// .image {
//   height: auto;
//   max-height: none;
// }

// .div-block {
//   justify-content: center;
//   align-items: center;
//   display: flex;
//   margin-top: -71px;
// }

// .div-block-2 {
//   background-image: url("/assets/Path-3452.svg");
//   background-position: 50%;
//   background-size: cover;
// }

// .div-block-3 {
//   border: 0.5px solid #00386c;
//   border-radius: 20px;
//   margin-top: 20px;
//   padding: 10px 40px;
//   box-shadow: 0 2px 5px 6px rgba(0, 0, 0, 0.2);
// }

// .image-2 {
//   margin-top: -58px;
// }

// .heading {
//   color: #00386c;
//   text-align: center;
//   margin-top: 0;
//   font-family: Open Sans, sans-serif;
//   font-size: 20px;
//   font-weight: 700;
// }

// .text-field {
//   width: 30vw;
//   height: 32px;
//   color: #00386c;
//   border-radius: 5px;
//   padding-left: 10px;
//   padding-right: 10px;
//   font-family: Open Sans, sans-serif;
//   box-shadow: 0 2px 5px #00386c;
// }

// .text-field-2 {
//   width: 30vw;
//   height: 32px;
// }

// .submit-button {
//   width: 30vw;
//   text-align: center;
//   background-color: #00386c;
//   border-radius: 10px;
//   font-family: Open Sans, sans-serif;
//   font-weight: 700;
//   display: block;
//   color: #fff;
// }

// .field-label,
// .field-label-2 {
//   color: #00386c;
//   font-family: Open Sans, sans-serif;
//   font-weight: 400;
// }

// .grid {
//   grid-template-rows: auto;
// }

// .checkbox-label {
//   color: #00386c;
//   font-family: Open Sans, sans-serif;
//   font-size: 12px;
//   font-weight: 600;
// }

// .div-block-4 {
//   color: #00386c;
//   font-family: Open Sans, sans-serif;
//   font-weight: 600;
// }

// .link {
//   font-size: 12px;
//   text-decoration: underline;
// }

// .checkbox-field {
//   color: #00386c;
// }

// .forgotpassword {
//   font-size: 12px;
//   text-decoration: underline;
// }

// .createlinktext {
//   color: #00386c;
//   text-align: center;
//   margin-top: 0;
//   font-family: Open Sans, sans-serif;
//   font-size: 12px;
//   font-weight: 700;
// }

// .div-block-5 {
//   justify-content: center;
//   align-items: center;
//   margin-top: -24px;
//   display: flex;
// }
// .w-inline-block {
//   max-width: 100%;
//   display: inline-block;
//   margin-top: -22%;
// }
// @media screen and (max-width: 991px) {
//   .section {
//     /* position: static; */
//     top: 0%;
//     bottom: 0%;
//     left: 0%;
//     right: 0%;
//   }

//   .image {
//     height: auto;
//   }

//   .div-block-2 {
//     height: 44%;
//     background-image: none;
//     background-position: 0 0;
//     background-size: auto;
//   }

//   .div-block-3 {
//     padding-top: 10px;
//     padding-bottom: 10px;
//   }

//   .image-2 {
//     margin-top: 29px;
//   }
// }

// @media screen and (max-width: 767px) {
//   .image-2 {
//     margin-top: -24px;
//   }

//   .text-field,
//   .submit-button {
//     width: 41vw;
//   }
// }

// @media screen and (max-width: 479px) {
//   .div-block-3 {
//     padding-left: 20px;
//     padding-right: 20px;
//   }

//   .heading {
//     margin-bottom: 0;
//   }

//   .text-field {
//     width: 89vw;
//   }

//   .submit-button {
//     width: 89vw;
//   }

//   .div-block-5 {
//     margin-top: -8px;
//   }
//   .bottomdiv {
//     margin-top: 37px;
//   }
// }

// #w-node-_6e6af7e3-63da-7985-a081-2b45a0e94176-b367414f {
//   grid-area: span 1 / span 1 / span 1 / span 1;
// }

// #w-node-_5a2d7d19-0969-1d91-ec5c-ff2a96283cf6-b367414f {
//   grid-area: span 1 / span 1 / span 1 / span 1;
//   justify-self: end;
// }
.bottomdivlogin {
  position: fixed;
  margin-top: 150%;
}
.div-block-5 {
  justify-content: center;
  align-items: center;
  margin-top: -78px;
  display: flex;
}
.linkspace {
  margin-left: 4px;
}
// #mainsection{
//   overflow-y: clip !important;
//   overscroll-behavior-y: none !important;
// }
.fas {
  position: absolute;
  right: 37px;
  margin-top: 18px;
  transform: translateY(-50%);
  cursor: pointer;
}
