<div class="subscription-package">
  

  <div class="div-block-2">
    <ion-menu-button class="left-aligned-menu-button"></ion-menu-button>
    <img
      src="../../assets/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>
  <div class="subscr-pdiv">
    <div class="div-block-26">
      <h1 class="heading-12">Future subscription packages</h1>
      <h1 class="heading-12-copy">Coming Soon!!</h1>
    </div>
  </div>
  <div class="bottomdiv">
    <img
      src="../../assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>
</div>
