# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt


/.sourcemaps
/.versions
/coverage

# Ionic
/.ionic
/www
/platforms
/plugins
/android

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
/.angular
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
*.java
*.pom
*.jar
*.module
*.pom
*.jar
*.pom
*.pom
*.jar
*.xml
*.png
*.bin
*.lock
*.properties
*.receipt
*.0-runtime
*.txt
*.zip
*.6-runtime
*.1-runtime
*.flat
*.1
*.20
*.0
*.4
*.exe
*.MF
android_/caches/transforms-3/79a75888c72277d6f88ade2fcf88c60d/transformed/aapt2-7.3.1-8691043-windows/NOTICE
android_/caches/transforms-3/b3f4871fb77b79c6b79f43eae9c77775/transformed/output/jdkImage/lib/modules
android_/caches/transforms-3/b3f4871fb77b79c6b79f43eae9c77775/transformed/output/jdkImage/release
*.lck
*.ok
*.css
*.html
*.js
android_/wrapper/dists/gradle-8.0.2-all/25ipb77ce0ypy3f9xdton1ae6/gradle-8.0.2/docs/javadoc/element-list
android_/wrapper/dists/gradle-8.0.2-all/25ipb77ce0ypy3f9xdton1ae6/gradle-8.0.2/docs/javadoc/package-list
*.svg
*.gif
*.pdf
android_/wrapper/dists/gradle-8.0.2-all/25ipb77ce0ypy3f9xdton1ae6/gradle-8.0.2/LICENSE
android_/wrapper/dists/gradle-8.0.2-all/25ipb77ce0ypy3f9xdton1ae6/gradle-8.0.2/NOTICE
android_/wrapper/dists/gradle-8.0.2-all/25ipb77ce0ypy3f9xdton1ae6/gradle-8.0.2/README
*.groovy
*.kt
*.bin
*.bin
*.jar
*.pom
*.jar
*.module
*.pom
*.jar
*.module
*.pom
*.jar
*.module
*.pom
*.jar
*.pom
*.pom
android/caches/transforms-3/b3f4871fb77b79c6b79f43eae9c77775/transformed/output/jdkImage/release
android/caches/transforms-3/b3f4871fb77b79c6b79f43eae9c77775/transformed/output/jdkImage/lib/modules
*.jar
*.bin
*.pom
*.jar
*.dll
android/caches/transforms-3/b3f4871fb77b79c6b79f43eae9c77775/transformed/output/jdkImage/release
*.jar
*.jar
*.pom
*.jar
*.jar
*.bin
*.bin
*.pom
*.jar
*.pom
*.jar
*.pom
*.jar
*.pom
*.jar
*.pom
*.jar
*.jar
*.pom
*.jar
android/caches/transforms-3/b3f4871fb77b79c6b79f43eae9c77775/transformed/output/jdkImage/release
android/caches/transforms-3/b3f4871fb77b79c6b79f43eae9c77775/transformed/output/jdkImage/lib/modules
*.jar
*.bin
*.bin
*.bin
*.bin
*.bin
*.pom
*.pom
*.module
*.jar
*.pom
*.jar
