<section class="colour-coded-tafs-page">
  <ion-menu-button></ion-menu-button>

  <div class="div-block-2">
    <img
      src="../../assets/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>
  <div class="tafs-div">
    <h1 class="heading-6">Colour Coded TAFs</h1>
    <div class="w-layout-grid grid-6">
      <div
        id="w-node-e7ec9294-4182-a125-c428-84c8c81f6e70-5aa24fea"
        class="w-layout-grid grid-7"
      >
        <div
          id="w-node-_211f6e7f-4ab3-965d-1518-9c1f84dfceec-5aa24fea"
          class="cct"
        >
          <h1 class="heading-7">Date :</h1>
          <h1 class="heading-8">2024 - 01 - 22</h1>
        </div>
        <div
          id="w-node-_2ef88a37-3b9e-7fec-658a-a6f84d594d57-5aa24fea"
          class="cct"
        >
          <h1 class="heading-7">Time :</h1>
          <h1 class="heading-8">13:15:45</h1>
        </div>
      </div>
      <div
        id="w-node-f5bb06e8-f72c-b502-4775-b999902099d0-5aa24fea"
        class="div-block-14"
      >
        <h5 class="heading-9">Query TAFs</h5>
        <form action="/search" class="search w-form">
          <input
            class="search-input w-input"
            maxlength="256"
            name="query"
            placeholder="Search…"
            type="search"
            id="search"
            required=""
          /><input
            type="submit"
            class="search-button w-button"
            value="Search"
          />
        </form>
      </div>
      <div
        id="w-node-d555042c-2103-3281-e838-d1322ba47d6d-5aa24fea"
        class="div-block-15"
      >
        <div>
          <div class="w-layout-grid ccta-grid">
            <div
              id="w-node-_57550a27-1ac8-4e06-fec5-4615467d2d92-5aa24fea"
              class="cct-copy-copy"
            >
              <h1 class="heading-7">Gauteng</h1>
              <h1 class="heading-8">Normal</h1>
            </div>
            <div
              id="w-node-dca3828b-c7c5-dc10-2800-1d3f80dab2ac-5aa24fea"
              class="cct-copy"
            >
              <h1 class="heading-8">Colour / Style Index</h1>
            </div>
          </div>
        </div>
        <div class="w-layout-grid">
          <div
            id="w-node-a17a2c36-86ab-0a34-b413-4ec2e6902806-5aa24fea"
            class="div-block-16"
          >
            <p class="paragraph-2">
              TAF AMD FAOR 221033Z 2212/2318 VRB03KT 9999 SCT040 TX28/2213Z
              TN17/2303Z PROB30 TEMPO 2212/2222 -TSRA FEW035CB BECMG 2216/2218
              09010KT PROB30 TEMPO 2222/2302 -SHRA FEW035TCU=
            </p>
          </div>
          <div
            id="w-node-ac7c4817-868a-89df-4dfa-3fca3ae029c6-5aa24fea"
            class="div-block-17"
          >
            <h1 class="view-decoded">View Decoded</h1>
          </div>
          <div
            id="w-node-_0c84b9a9-fa33-fab4-9e6e-4a754f129764-5aa24fea"
            class="div-block-16"
          >
            <p>
              TAF AMD FAOR 221033Z 2212/2318 VRB03KT 9999 SCT040 TX28/2213Z
              TN17/2303Z PROB30 TEMPO 2212/2222 -TSRA FEW035CB BECMG 2216/2218
              09010KT PROB30 TEMPO 2222/2302 -SHRA FEW035TCU=
            </p>
          </div>
          <div
            id="w-node-d3450849-b3f0-8fb6-d444-6890e29b074f-5aa24fea"
            class="div-block-17"
          >
            <h1 class="view-decoded">View Decoded</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomdiv">
    <img
      src="../../assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
    <div class="footerdiv">
      <a href="landing-page.html" class="link-block-5 w-inline-block"
        ><img
          src="../../assets/Group-4522.svg"
          loading="lazy"
          width="35"
          alt=""
        />
        <h6 class="heading-10">Forecast</h6>
      </a>
    </div>
  </div>
</section>

