<section class="aviation_home">
  <ion-menu-button class="left-aligned-menu-button"></ion-menu-button>

  <div class="div-block-2">
    <img
      src="../../assets/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>
  <div class="aviationhome">
    <h1 class="heading-6">Aviation Home</h1>
    <div class="div-block-18">
      <h1 class="heading-11">Aeronautical Meteorological Services</h1>
      <p class="paragraph-3">
        The South African Weather Service provide meteorological information to
        the Aviation industry in South Africa through ICAO regulations and
        specifications in accordance with Annexure 3 and local user
        agreements.<br /><br />Information is compiled and distributed by the
        Aviation Weather Centre at O.R Tambo International Airport and main
        forecasting centres at Bloemfontein, Cap Town, Durban and Port Elizabeth
        airports.<br /><br />Aviation Forecast and observation are products or
        value added services of the South African Service. <br />
      </p>
      <div class="w-layout-grid grid-9">
        <div id="w-node-_4bf58b69-bd92-8e85-90ef-c0c6012022fa-eca2c248">
          <div class="html-embed-2 w-embed">
            <a href="url">User requirements </a>- please check
          </div>
        </div>
        <div class="div-block-19">
          <div class="html-embed-3 w-embed">
            <a href="url">Webcams </a>
          </div>
        </div>
        <div class="div-block-20">
          <div class="html-embed-5 w-embed">
            <a href="url">Graphical SIGMET</a>
          </div>
        </div>
        <div class="div-block-21">
          <div class="html-embed-4 w-embed">
            <a href="url">POPIA</a>
          </div>
        </div>
        <div class="div-block-22">
          <div class="html-embed-6 w-embed">
            <a href="url">Twitter</a>
          </div>
        </div>
        <div>
          <div class="html-embed-7 w-embed">
            <a href="url">http://sacoronavirus.co.za/</a>
          </div>
        </div>
      </div>
      <div class="w-layout-grid grid-10">
        <div
          id="w-node-_20b18408-8c74-80d2-287d-98258cd86ab1-eca2c248"
          class="div-block-23"
        >
          <div class="html-embed-2 w-embed">
            <a href="url">User requirements </a>- please check
          </div>
        </div>
        <div
          id="w-node-c547babf-737c-635b-62ed-283a9a2ce662-eca2c248"
          class="w-layout-grid grid-11"
        >
          <div id="w-node-_282bf718-407a-47de-bb05-370afd11ee83-eca2c248">
            <div class="html-embed-3 w-embed">
              <a href="url">Webcams </a>
            </div>
          </div>
          <div class="html-embed-5 w-embed">
            <a href="url">Graphical SIGMET</a>
          </div>
          <div class="html-embed-4 w-embed">
            <a href="url">POPIA</a>
          </div>
          <div class="html-embed-6 w-embed">
            <a href="url">Twitter</a>
          </div>
          <div class="html-embed-7 w-embed">
            <a href="url">http://sacoronavirus.co.za/</a>
          </div>
        </div>
      </div>
    </div>
    <div class="html-embed-8 w-embed">
      <h5>Please take note of the following:</h5>
      <p>
        Registration: If you do not get a response from the website within 24
        hours of registration, contact us via the provide feedback link.<br />
        No-reply email: Please do not reply or send emails to
        aviationweb"&#64;"weathersa.co.za - this is a no-reply email address.<br />
        Usernames: Usernames are case-sensitive - User ≠ user<br />
        User verification: Validity of users is constantly checked to verify if
        they still meet the requirements as valid aviation users.<br />
        User accounts: If not accessed for more than 6 months, user accounts are
        removed.
      </p>
      <h5>Recent Activity:</h5>
      <p>
        15 February 2023: User survey is available for registered users until
        end of March - please consider taking the survey before it closes.<br />
        19 Jan 2023: Planned upgrade to aviation website scheduled for 19
        January 2023, between 11Z and 12Z.<br />
        17 January 2023: Aerosport spotgraph images are currently not available.
        There have been a major failure on SAWS high performance computer
        (HPC).<br />
        Our software engineers are currently addressing the issue and
        significant progress have been made. We aim to have it back as soon as
        possible.<br />
        29 Jul 2022: Radar images - SAWS is experiencing problems with the
        display of radar images and working to resolve it.<br />
        23 Jun 2022: Wonderboon Exhibition, see Flyer or visit
        www.aerosouthafrica.com.<br />
      </p>
    </div>
  </div>
  <div class="bottomdiv">
    <img
      src="../../assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
    <div class="footerdiv">
      <a href="landing-page.html" class="link-block-5 w-inline-block"
        ><img
          src="../../assets/Group-4522.svg"
          loading="lazy"
          width="35"
          alt=""
        />
        <h6 class="heading-10">Forecast</h6>
      </a>
    </div>
  </div>
</section>
