<ion-content>
  <section class="ob-randar">
    <div class="metar-history-main-div">
      <h1 class="heading-6">Randar Images</h1>
      <div>
        <div class="w-layout-grid grid-20">
          <div
            id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef4552-df47fded"
            class="div-block-35"
          >
            <div
              id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef4553-df47fded"
              class="w-layout-grid grid-21"
            >
              <div
                id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef4554-df47fded"
                class="div-block-36"
              >
                <h4 class="heading-24">Individual Image</h4>
              </div>
              <div
                id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef4557-df47fded"
                class="div-block-36"
              >
                <h4 class="heading-24">View Image</h4>
              </div>
              <div
                id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef455a-df47fded"
                class="div-block-36"
              ></div>
              <div
                id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef455d-df47fded"
                class="div-block-36"
              ></div>
            </div>
          </div>
          <div
            id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef4560-df47fded"
            class="div-block-452"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef4562-df47fded"
                class="div-block-37"
              >
                <h4 class="heading-25">George Mountain</h4>
              </div>
              <div
                id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef4565-df47fded"
                class="div-block-37"
              >
                <a
                  href="https://aviation.weathersa.co.za/pib/webcams/index.html"
                  class="button-2 w-button"
                  >View Image</a
                >
              </div>
            </div>
          </div>
          <div
            id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef456e-df47fded"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef4570-df47fded"
                class="div-block-37"
              >
                <h4 class="heading-25">Skukuza (South)</h4>
              </div>
              <div
                id="w-node-_5586f8de-500c-3d0d-41e6-8fc6e92cb068-df47fded"
                class="div-block-37"
              >
                <a
                  href="https://aviation.weathersa.co.za/pib/webcams/Skukuza.html"
                  class="button-2 w-button"
                  >View Image</a
                >
              </div>
            </div>
          </div>
          <div
            id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef457c-df47fded"
            class="div-block-453"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef457e-df47fded"
                class="div-block-37"
              >
                <h4 class="heading-25">Tzaneen (North-west) *</h4>
              </div>
              <div
                id="w-node-e7c9e1d2-4d07-0cf8-ea26-9a926eb740ec-df47fded"
                class="div-block-37"
              >
                <a
                  href="https://aviation.weathersa.co.za/pib/webcams/Tzaneen.html"
                  class="button-2 w-button"
                  >View Image</a
                >
              </div>
            </div>
          </div>
          <div
            id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef458a-df47fded"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef458c-df47fded"
                class="div-block-37"
              >
                <h4 class="heading-25">FADN</h4>
              </div>
              <div
                id="w-node-_782976cf-bafb-5f5e-9603-d16b861e96af-df47fded"
                class="div-block-37"
              >
                <a href="#" class="button-2 w-button">View Image</a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef4598-df47fded"
            class="div-block-454"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_354b2412-f49a-8b91-8aaa-52a332ef459a-df47fded"
                class="div-block-37"
              >
                <h4 class="heading-25">FADY</h4>
              </div>
              <div
                id="w-node-_35a877aa-3c3a-5cd6-9810-4b38617c6d8b-df47fded"
                class="div-block-37"
              >
                <a href="#" class="button-2 w-button">View Image</a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_175008b7-03e9-ac1a-057d-ade9f62da856-df47fded"
            class="div-block-38"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_175008b7-03e9-ac1a-057d-ade9f62da858-df47fded"
                class="div-block-37"
              >
                <h4 class="heading-25">FADN</h4>
              </div>
              <div
                id="w-node-_175008b7-03e9-ac1a-057d-ade9f62da85b-df47fded"
                class="div-block-37"
              >
                <a href="#" class="button-2 w-button">View Image</a>
              </div>
            </div>
          </div>
          <div
            id="w-node-_7f4e90fb-d37e-728c-a303-85e1ab38eed3-df47fded"
            class="div-block-455"
          >
            <div class="w-layout-grid grid-22">
              <div
                id="w-node-_7f4e90fb-d37e-728c-a303-85e1ab38eed5-df47fded"
                class="div-block-37"
              >
                <h4 class="heading-25">FADY</h4>
              </div>
              <div
                id="w-node-_7f4e90fb-d37e-728c-a303-85e1ab38eed8-df47fded"
                class="div-block-37"
              >
                <a href="#" class="button-2 w-button">View Image</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottomdiv">
      <img
        src="../../assets/Path-3447.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
      <div class="footerdiv">
        <a class="w-inline-block" (click)="observPage()"
          ><img src="../../assets/Group-3489.svg" loading="lazy" alt=""
        /></a>
      </div>
    </div></section
></ion-content>
