/* Example */

.toggle-password {
  position: absolute;
  right: 57px;
  margin-top: 36px;
  transform: translateY(-50%);
  cursor: pointer;
}
.toggle-passwordS {
  position: absolute;
  right: 46px;
  margin-top: 23px;
  transform: translateY(-50%);
  cursor: pointer;
}

.bottomdiv2 {
  position: fixed;
  margin-top: 150%;
}
.div-block {
  margin-top: -35px;
}

.login-for {
  margin-top: -15px;
}
.ion-padding {
  height: 50%;
  overflow-y: hidden;
}
// .form-container {
//   max-height: 300px; /* Adjust height as needed */
//   overflow-y: auto; /* Enable vertical scrolling */
// }
