/* Example */

.toggle-password {
  position: absolute;
  right: 57px;
  margin-top: 36px;
  transform: translateY(-50%);
  cursor: pointer;
}
.toggle-passwordS {
  position: absolute;
  right: 57px;
  margin-top: 36px;
  transform: translateY(-50%);
  cursor: pointer;
}

.bottomdiv2 {
  position: fixed;
  margin-top: 180%;
}
.div-block {
  margin-top: -35px;
}
.login-for {
  margin-top: 2px;
}
