<div *ngIf="loading" class="loading-indicator">Loading...</div>
<!-- <section class="section" *ngIf="currentStep === 1">
  <div class="div-block-2">
    <img
      src="/assets/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>
  <div class="div-block">
    <img
      src="/assets/Mask-Group-33x.png"
      loading="lazy"
      width="212"
      alt=""
      class="mobile-images"
    />
  </div>
  <div class="login-for">
    <h2 class="login">Register</h2>
    <h5 class="createlinktext">Required fields are marked with an (*)</h5>
    <div class="w-form" #content>
      <form
        [formGroup]="userForm"
        (ngSubmit)="onSubmit()"
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        data-wf-page-id="659546cee040424c6fb9ee30"
        data-wf-element-id="a22b6f92-06b8-59c2-8d8f-87fd0ef75429"
      >
        <div class="w-layout-grid grid-2">
          <div id="w-node-b12f6374-1320-16d1-1054-374cc200f0b3-6fb9ee30">
            <label for="name-2" class="registerlabel">Full Name (*)</label
            ><input
              type="text"
              class="registerfield w-input"
              maxlength="256"
              name="name-2"
              data-name="Name 2"
              placeholder="Type your full name"
              id="name-2"
              required=""
              formControlName="Fullname"
            />
          </div>
          <div id="w-node-b12f6374-1320-16d1-1054-374cc200f0b3-6fb9ee30">
            <label for="name-2" class="registerlabel">Username (*)</label
            ><input
              type="text"
              class="registerfield w-input"
              maxlength="256"
              name="name-2"
              data-name="Name 2"
              placeholder="Type your Username"
              id="name-2"
              required=""
              formControlName="Username"
            />
          </div>
          <div id="w-node-_1162ffd6-f7de-04e5-2c9d-77b81f0dc4da-6fb9ee30">
            <label for="name-2" class="registerlabel">Email Address (*)</label
            ><input
              type="email"
              class="registerfield w-input"
              maxlength="256"
              name="name-2"
              data-name="Name 2"
              placeholder="Type your email address"
              id="name-2"
              required=""
              formControlName="Email"
            />
          </div>
          <div id="w-node-ccdda937-ce5c-ac70-b522-fdf10dd22378-6fb9ee30">
            <label for="name-2" class="registerlabel">Password (*)</label
            ><input
              type="password"
              class="registerfield w-input"
              maxlength="256"
              name="name-2"
              data-name="Name 2"
              placeholder="Type your password"
              id="name-2"
              required=""
              formControlName="Password"
            />
          </div>
          <div id="w-node-_3131fc65-a7a7-d863-b1d4-1a1adb54aca2-6fb9ee30">
            <label for="name-2" class="registerlabel"
              >Confirm Passwords (*)</label
            ><input
              type="password"
              class="registerfield w-input"
              maxlength="256"
              name="name-2"
              data-name="Name 2"
              placeholder="Re-type your password"
              id="name-2"
              required=""
            />
          </div>
        </div>
        <div class="div-block-6">
          <input
            type="submit"
            value="Subscribe"
            data-wait="Please wait..."
            class="continueb w-button"
          />
        </div>
        <div style="color: green" *ngIf="statusMessage">
          <div>Thank you! You have sussessfully registered!</div>
        </div>
      </form>
    </div>
    <h5 class="createlinktext">
      Already have an account?<a href="/login">Login</a>
    </h5>
  </div>
  <div class="bottomdiv">
    <img
      src="/assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>
</section>
<section class="section" *ngIf="currentStep === 2">
  <div class="div-block-2">
    <img
      src="/assets/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>
  <div class="div-block">
    <img
      src="/assets/Mask-Group-33x.png"
      loading="lazy"
      width="212"
      alt=""
      class="mobile-images"
    />
  </div>
  <div class="login-for">
    <h2 class="login">Register</h2>
    <h5 class="createdtext">* Valid Aviation User is defined as:</h5>
    <div class="w-form">
      <form
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        data-wf-page-id="6595547155ddf699b86b8307"
        data-wf-element-id="e41eeb5c-9e38-416f-f59b-0df062454cc7"
      >
        <div class="div-block-6">
          <label for="name" class="registerlabel-copy"
            >Operating in or from South African Airspace.</label
          ><label for="name" class="registerlabel-copy">Require:</label
          ><label for="name" class="registerlabel-copy"
            >South African contact details (complete/valid address, phone
            number).<br />Airlines, operators, handlers - company/organization
            e-mail address <br />and contact details of office in South Africa,
            or AOC number.<br />SAAF - SANDF ID number.</label
          ><label for="name" class="registerlabel-copy">Note:</label
          ><label for="name" class="registerlabel"
            >Validity of users is contantly checked to verify if <br />they
            still meet the requirements above. <br />Users no longer meeting the
            <br />requirments are suspended or removed from the system.</label
          >
          <div class="w-layout-grid grid-3">
            <div
              id="w-node-dd771181-3e31-5385-cb43-b32c0f2564ce-b86b8307"
              class="div-block-8"
            >
              <a
                data-wait="Please wait..."
                class="prev w-button"
                (click)="prevStep()"
              >
                &lt;&lt; Prev
              </a>
            </div>
            <div
              id="w-node-cef5afe0-4bc7-b3dc-87d8-08e15b1aebf2-b86b8307"
              class="div-block-7"
            >
              <input
                type="submit"
                value="Continue"
                data-wait="Please wait..."
                class="subscribe w-button"
              />
            </div>
          </div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
  <div class="bottomdiv">
    <img
      src="/assets/Path-3447.svg Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
    <div class="div-block-5">
      <h4 class="footertext">Step 2 of 2</h4>
    </div>
  </div>
</section> -->
<ion-content>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <section class="section" *ngIf="currentStep === 1">
    <div class="div-block-2">
      <img
        src="../../../assets/Path-3452.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
    </div>
    <div class="div-block">
      <img
        src="../../../assets/Mask-Group-33x.png"
        loading="lazy"
        width="212"
        alt=""
        class="mobile-images"
      />
    </div>
    <div class="login-for">
      <h2 class="login">Register</h2>
      <h5 class="createlinktext">Required fields are marked with an (*)</h5>
      <div class="w-form" #content>
        <form
          #userFormRef
          [formGroup]="userForm"
          (ngSubmit)="onSubmit()"
          id="email-form"
          name="email-form"
          data-name="Email Form"
          method="get"
          data-wf-page-id="659546cee040424c6fb9ee30"
          data-wf-element-id="a22b6f92-06b8-59c2-8d8f-87fd0ef75429"
        >
          <div class="w-layout-grid grid-2">
            <div id="w-node-b12f6374-1320-16d1-1054-374cc200f0b3-6fb9ee30">
              <label for="name-2" class="registerlabel">Full Name (*)</label
              ><input
                type="text"
                class="registerfield w-input"
                maxlength="256"
                name="name-2"
                data-name="Name 2"
                placeholder="Type your full name"
                id="name-2"
                required=""
                formControlName="Fullname"
              />
              <div
                *ngIf="userForm.get('Fullname')?.invalid && userForm.get('Fullname') && submitted==true"
                class="error-message"
              >
                Full Name is required.
              </div>
            </div>
            <div id="w-node-b12f6374-1320-16d1-1054-374cc200f0b3-6fb9ee30">
              <label for="name-2" class="registerlabel">Username (*)</label
              ><input
                type="text"
                class="registerfield w-input"
                maxlength="256"
                name="name-2"
                data-name="Name 2"
                placeholder="Type your Username"
                id="name-2"
                required=""
                formControlName="Username"
              />
              <div
                *ngIf="userForm.get('Username')?.invalid && userForm.get('Username') && submitted==true"
                class="error-message"
              >
                Username is required.
              </div>
            </div>
            <div id="w-node-_1162ffd6-f7de-04e5-2c9d-77b81f0dc4da-6fb9ee30">
              <label for="name-2" class="registerlabel">Email Address (*)</label
              ><input
                type="email"
                class="registerfield w-input"
                maxlength="256"
                name="name-2"
                data-name="Name 2"
                placeholder="Type your email address"
                id="name-2"
                required=""
                formControlName="Email"
              />
              <div
                *ngIf="userForm.get('Email')?.invalid && userForm.get('Email') && submitted==true"
                class="error-message"
              >
                Email is required.
              </div>
              <div
                *ngIf="submitted && userForm.get('Email')?.errors?.['invalidEmail']"
                class="error-message"
              >
                Invalid email address format.
              </div>
            </div>
            <div id="w-node-ccdda937-ce5c-ac70-b522-fdf10dd22378-6fb9ee30">
              <label for="name-2" class="registerlabel">Password (*)</label>
              <span class="toggle-password"
                ><i
                  class="fas"
                  [class.fa-eye]="showPassword"
                  [class.fa-eye-slash]="!showPassword"
                  (click)="togglePasswordVisibility()"
                ></i
              ></span>
              <input
                type="password"
                class="registerfield w-input"
                maxlength="256"
                name="Password"
                data-name="Name 2"
                placeholder="Type your password"
                id="Password"
                required=""
                formControlName="Password"
              />

              <!-- Update the error messages for password validation -->
              <div
                *ngIf="userForm.get('Password')?.errors?.['invalidPassword'] && (userForm.get('Password')?.touched || submitted)"
                class="error-message"
              >
                Password must be at least 8 characters long and contain at least
                one capital letter, one small letter, and one number.
              </div>

              <div
                *ngIf="userForm.get('Password')?.errors?.['required'] && (userForm.get('Password')?.touched || submitted)"
                class="error-message"
              >
                Password is required.
              </div>

              <!-- Similar update for confirm password -->

              <!-- <div
                *ngIf="userForm.get('ConfirmPassword')?.value !== userForm.get('Password')?.value && (userForm.get('ConfirmPassword')?.touched || submitted)"
                class="error-message"
              >
                Password and confirm password do not match.
              </div> -->
            </div>
            <div id="w-node-_3131fc65-a7a7-d863-b1d4-1a1adb54aca2-6fb9ee30">
              <label for="name-2" class="registerlabel"
                >Confirm Passwords (*)</label
              >
              <span class="toggle-password"
                ><i
                  class="fas"
                  [class.fa-eye]="showPassword"
                  [class.fa-eye-slash]="!showPassword"
                  (click)="togglePasswordVisibility()"
                ></i
              ></span>
              <input
                type="password"
                class="registerfield w-input"
                maxlength="256"
                name="ConfirmPassword"
                data-name="Name 2"
                placeholder="Re-type your password"
                id="ConfirmPassword"
                required=""
                formControlName="ConfirmPassword"
              />
              <!-- <div
                *ngIf="userForm.get('ConfirmPassword')?.value !== userForm.get('Password')?.value && (userForm.get('ConfirmPassword')?.touched || submitted)"
                class="error-message"
              >
                Password and confirm password do not match.
              </div> -->
              <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
              </div>
              <div
                *ngIf="userForm.get('ConfirmPassword')?.errors?.['required'] && (userForm.get('ConfirmPassword')?.touched || submitted)"
                class="error-message"
              >
                Confirm Password is required.
              </div>
            </div>
          </div>
          <div class="div-block-6">
            <input
              type="submit"
              value="Subscribe"
              data-wait="Please wait..."
              class="continueb w-button"
            />
          </div>
          <div style="color: green" *ngIf="statusMessage">
            <div>Thank you! You have sussessfully registered!</div>
          </div>
        </form>
      </div>
      <a href="" class="link-block w-inline-block">
        <h5 class="createlinktext">
          Already have an account? <a href="/login" class="linkspace">Login </a>
        </h5>
      </a>
    </div>
    <div class="bottomdiv2">
      <img
        src="/assets/Path-3447.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
    </div>
  </section>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/></ion-content>
