/* Example */
.w-layout-grid {
  max-height: 260px;
  overflow-y: auto;
}
// .toggle-password {
//   position: relative;
//   right: -284px;
//   top: -22% !important;
//   transform: translateY(-50%);
//   cursor: pointer;
// }
.registerfield {
  width: 78vw;
}
.fas {
  position: relative;
  right: -253px;
  transform: translateY(-183%);
  cursor: pointer;
  z-index: 2;
}

.bottomdiv2 {
  position: fixed;
  margin-top: 150%;
}
.div-block {
  margin-top: -35px;
}

.login-for {
  margin-top: -18px;
}
.ion-padding {
  height: 50%;
  overflow-y: hidden;
}
// .form-container {
//   max-height: 300px; /* Adjust height as needed */
//   overflow-y: auto; /* Enable vertical scrolling */
// }
.login-for {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 11px;
}
