<ion-content
  ><section class="contact-us">
    <!-- <div class="div-block-2">
      <ion-menu-button class="left-aligned-menu-button"></ion-menu-button
      ><img
        src="../../assets/Path-3452.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
    </div> -->

    <div class="contact">
      <div class="div-block-28" #content>
        <h1 class="heading-12">Contact Us</h1>
        <div class="scrol">
          <div class="columns-2 w-row">
            <div class="w-col w-col-6">
              <div>
                <h3 class="heading-15">SAWS Head Office</h3>
                <p class="paragraph-7">
                  1263 Heuwel Road<br />Centurion Central (ABSA Building)<br />Centurion<br />0157
                </p>
              </div>
            </div>
            <div class="w-col w-col-6">
              <div>
                <h3 class="heading-14">Aviation Weather Centre</h3>
                <p class="paragraph-8">
                  Room NL61, Lower Roof (3rd floor),Oliver Tambo International
                  Airport
                </p>
              </div>
            </div>
          </div>
          <div class="div-block-29">
            <div class="w-layout-grid grid-14">
              <div id="w-node-c091da90-7064-1978-7ac4-d7c34fcf5192-61406592">
                <h4 class="heading-16">
                  Private Bag X097<br />Pretoria<br />0001
                </h4>
                <h4 class="heading-16">
                  <strong>Tel</strong>: +27 12 367 6000
                </h4>
                <h4 class="heading-16">
                  <strong>Fax</strong>: +27 12 367 6200
                </h4>
              </div>
              <div id="w-node-a78a2555-c959-d7d9-c288-26d4643302dc-61406592">
                <h4 class="heading-16">
                  <strong>Tel</strong>: +27 11 390 9329 <strong>/</strong> +27
                  11 390 9330 <strong>/</strong> +27 12 367 6210
                </h4>
                <h4 class="heading-16">
                  <strong>Tel</strong>: +27 11 390 9332
                </h4>
                <h4 class="heading-16">
                  <strong>Email</strong>: +Forecasting:
                  <a href="mailto:fajsfc@weathersa.co.za"
                    >fajsfc&#64;weathersa.co.za</a
                  >
                </h4>
                <h4 class="heading-16">
                  <strong>Email</strong>: Observations:
                  <a
                    href="mailto:observjs@weathersa.co.za?subject=Feedback%20from%20Aviation%20website"
                    >observjs&#64;weathersa.co.za</a
                  >
                </h4>
              </div>
            </div>
          </div>
          <div class="w-layout-grid grid-15">
            <div id="w-node-_9942a994-0b3e-0f22-4290-722776f93669-61406592">
              <div class="w-layout-grid grid-16-copy">
                <div id="w-node-a9d90d63-9b80-f752-cce0-38b5fc77ed70-61406592">
                  <h4 class="heading-17">Region Meteorological Centers</h4>
                </div>
                <div id="w-node-e0ab4c27-ed75-7a59-b5e0-89b09c7ce2f4-61406592">
                  <h4 class="heading-18">Tel</h4>
                </div>
              </div>
            </div>
            <div id="w-node-eef95640-8cf1-7210-387e-9f634de4f21a-61406592">
              <div class="w-layout-grid grid-16">
                <div id="w-node-eef95640-8cf1-7210-387e-9f634de4f21c-61406592">
                  <p class="paragraph-7">Cape Town</p>
                </div>
                <div id="w-node-eef95640-8cf1-7210-387e-9f634de4f21f-61406592">
                  <p class="paragraph-7">+27 21 935 5700 or +27 64 798 6994</p>
                </div>
              </div>
              <div class="w-layout-grid grid-16-copy">
                <div id="w-node-_0ccaff45-0ee0-4d6c-5d2b-5a02b2042471-61406592">
                  <p class="paragraph-7">Kruger/ Mpumalanga</p>
                </div>
                <div id="w-node-_0ccaff45-0ee0-4d6c-5d2b-5a02b2042474-61406592">
                  <p class="paragraph-7">+27 13 751 3805</p>
                </div>
              </div>
              <div class="w-layout-grid grid-16">
                <div id="w-node-f85be086-f2d6-5b27-f85a-e613b4d01490-61406592">
                  <p class="paragraph-7">Port Elizabeth</p>
                </div>
                <div id="w-node-f85be086-f2d6-5b27-f85a-e613b4d01493-61406592">
                  <p class="paragraph-7">+27 41 581 0403</p>
                </div>
              </div>
              <div class="w-layout-grid grid-16-copy">
                <div id="w-node-fb81324a-2775-6610-0d4e-73c299fdc5b7-61406592">
                  <p class="paragraph-7">Durban</p>
                </div>
                <div id="w-node-fb81324a-2775-6610-0d4e-73c299fdc5ba-61406592">
                  <p class="paragraph-7">+27 32 436 3813</p>
                </div>
              </div>
              <div class="w-layout-grid grid-16">
                <div id="w-node-c450a24b-4634-70c7-7360-6559224270fc-61406592">
                  <p class="paragraph-7">Bloemfontein</p>
                </div>
                <div id="w-node-c450a24b-4634-70c7-7360-6559224270ff-61406592">
                  <p class="paragraph-7">+27 51 433 3281</p>
                </div>
              </div>
              <div class="w-layout-grid grid-16-copy">
                <div id="w-node-_459b97df-2915-2f63-d660-da79efdbd318-61406592">
                  <p class="paragraph-7">National Forecasting Centre (NFC)</p>
                </div>
                <div id="w-node-_459b97df-2915-2f63-d660-da79efdbd31b-61406592">
                  <p class="paragraph-7">+27 12 367 6041</p>
                </div>
              </div>
              <div class="w-layout-grid grid-16">
                <div id="w-node-_0a738886-0aa5-890d-a52e-c44f91bf8854-61406592">
                  <p class="paragraph-7">Aviation Twitter</p>
                </div>
                <div id="w-node-_0a738886-0aa5-890d-a52e-c44f91bf8857-61406592">
                  <p class="paragraph-7">
                    <br />SAWSAWC, handlle &#64;SAWS_AWC -
                    <a href="https://twitter.com/SAWS_AWC?s=20" target="_blank"
                      >Twitter</a
                    >
                  </p>
                </div>
              </div>
              <div class="w-layout-grid grid-16-copy">
                <div id="w-node-_28d085d7-6acf-443f-5747-fd29be4767d5-61406592">
                  <p class="paragraph-7-copy">
                    Aviation History data:<br />Up to 3 months - Free and
                    Premuim users<br />Beyond 3 months - Advanced/Regulated
                    Users
                  </p>
                </div>
                <div id="w-node-_28d085d7-6acf-443f-5747-fd29be4767d8-61406592">
                  <p class="paragraph-7">
                    Contact SAWS Climate Sales at
                    <a
                      href="mailto:info4@weathersa.co.za?subject=Aviation%20History%20Data"
                      >info4&#64;weathersa.co.za</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottomdiv2">
      <img
        src="../../assets/Path-3447.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
    </div>
  </section>
</ion-content>
