<section class="feedback">
  <div class="div-block-2">
    <ion-menu-button class="left-aligned-menu-button"></ion-menu-button>
    <img
      src="../../assets/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>

  <div class="round-image">
    <img
      src="../../assets/Mask-Group-33x.png"
      width="212"
      alt=""
      loading="lazy"
      width="115"
      alt=""
      class="mobile-images"
    />
  </div>

  <div class="feedback-div">
    <div class="div-block-26">
      <h1 class="heading-12" id="feedback-heading">
        Provide technical feedback <br />on the website
      </h1>
      <div class="w-form">
        <form
          id="email-form1"
          name="email-form"
          data-name="Email Form"
          method="get"
          data-wf-page-id="65b37dc83e5b85e23fc5ea08"
          data-wf-element-id="250cd369-1376-16af-4b58-4f9ff70033f3"
        >
          <label for="name" class="field-label-3"> Your username:</label
          ><input
            class="text-field-3 w-input"
            maxlength="256"
            name="name"
            data-name="Name"
            placeholder=""
            type="text"
            id="name"
          /><label for="field" class="field-label-4" id="field4"
            ><br />
            <br />Your message:</label
          ><textarea
            required=""
            placeholder="feedback Message"
            maxlength="5000"
            id="field"
            name="field"
            data-name="Field"
            class="textarea w-input"
          ></textarea>
          <br /><input
            type="submit"
            data-wait="Please wait..."
            class="submit-button-2 w-button"
            value="Submit"
            id="submitbutton"
          />
        </form>
        <!-- <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div> -->
      </div>
    </div>
  </div>
</section>
