<section class="feedback">
  <div class="div-block-2">
    <ion-menu-button class="left-aligned-menu-button"></ion-menu-button>
    <img
      src="../../assets/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>

  <div class="round-image">
    <img
      src="../../assets/Mask-Group-33x.png"
      width="212"
      alt=""
      loading="lazy"
      width="115"
      alt=""
      class="mobile-images"
    />
  </div>
  <div class="form-container"></div>
  <div class="feedback-div">
    <div class="div-block-26">
      <h1 class="heading-12" id="feedback-heading">FEEDBACK</h1>
      <div class="w-form">
        <form
          [formGroup]="userForm"
          (ngSubmit)="onSubmitFeedback()"
          id="email-form1"
          name="email-form"
          data-name="Email Form"
          method="get"
          data-wf-page-id="65b37dc83e5b85e23fc5ea08"
          data-wf-element-id="250cd369-1376-16af-4b58-4f9ff70033f3"
        >
          <div class="form-group">
            <label for="name" class="form-label">Username:</label>
            <input
              type="text"
              id="name"
              class="form-input"
              [value]="aspUserName"
              formControlName="Username"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Subject:</label>
            <input
              type="text"
              id="email"
              class="form-input"
              placeholder="Enter your subject"
              formControlName="title"
            />
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Message:</label>

            <textarea
              class="form-input"
              placeholder="Enter your feedback message"
              formControlName="message"
              style="height: 200px"
            ></textarea>
          </div>
          <br /><input
            type="submit"
            data-wait="Please wait..."
            class="submit-button-2 w-button"
            value="Submit"
            id="submitbutton"
          />
        </form>
        <!-- <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div> -->
      </div>
    </div>
  </div>
</section>
