<div class="feedback">
  <ion-menu-button class="left-aligned-menu-button"></ion-menu-button>

  <div class="div-block-2">
    <img
      src="../../assets/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>
  <div class="feedback-div">
    <div class="div-block-26">
      <h1 class="heading-12">
        Provide technical feedback <br />on the website
      </h1>
      <div class="w-form">
        <form
          id="email-form"
          name="email-form"
          data-name="Email Form"
          method="get"
          data-wf-page-id="65b37dc83e5b85e23fc5ea08"
          data-wf-element-id="250cd369-1376-16af-4b58-4f9ff70033f3"
        >
          <label for="name" class="field-label-3">Your username</label
          ><input
            class="text-field-3 w-input"
            maxlength="256"
            name="name"
            data-name="Name"
            placeholder=""
            type="text"
            id="name"
          /><br /><br /><label for="field" class="field-label-4"
            >Your message</label
          ><textarea
            required=""
            placeholder="feedback Message"
            maxlength="5000"
            id="field"
            name="field"
            data-name="Field"
            class="textarea w-input"
          ></textarea
          ><br /><br /><input
            type="submit"
            data-wait="Please wait..."
            class="submit-button-2 w-button"
            value="Submit"
          />
        </form>
      </div>
    </div>
  </div>
  <div class="bottomdiv">
    <img
      src="../../assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>
</div>
