<ion-content [fullscreen]="true">
  <section class="chats-section">
    <div class="chats-div">
      <h1 class="heading-6">Chats</h1>
      <div class="w-layout-grid grid-38">
        <h1
          id="w-node-e9bccd0a-9bf8-1d60-ceb4-e3622f16eb99-4350eb02"
          class="heading"
        >
          Xolani_admin
        </h1>
        <div class="scroll">
          <div id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7c1-4350eb02">
            <h4 class="heading-name">Subscribe User</h4>
            <div class="w-layout-grid grid-37">
              <div id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7c5-4350eb02">
                <div class="w-layout-grid grid-39">
                  <div
                    id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7c7-4350eb02"
                    class="div-block-445"
                  >
                    <img
                      src="../../assets/Group-4959.svg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <div
                    id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7c9-4350eb02"
                    class="div-block-444"
                  >
                    <p class="paragraph-12">
                      Good morning kindly note that I was trying to login and it
                      shows a message to contact South African Weather Service
                      admin
                    </p>
                    <div>
                      <h4 class="time-heading">22/11/2023 09:00 am</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7cf-4350eb02">
            <h4 class="adm">Me</h4>
            <div class="w-layout-grid grid-35">
              <div
                id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7d3-4350eb02"
                class="div-block-448"
              ></div>
              <div id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7d4-4350eb02">
                <div class="w-layout-grid grid-36">
                  <div
                    id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7d6-4350eb02"
                    class="div-block-446"
                  >
                    <p class="paragraph-12">
                      Okay thank you for your feedback give us few minutes and we
                      will get back to ASAP
                    </p>
                    <h4 class="time-heading-copy">22/11/2023 09:00 am</h4>
                  </div>
                  <div
                    id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7db-4350eb02"
                    class="div-block-445"
                  >
                    <img
                      src="../../assets/Group-5146.svg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7dd-4350eb02">
            <h4 class="heading-name">Subscribe User</h4>
            <div class="w-layout-grid grid-37">
              <div id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7e1-4350eb02">
                <div class="w-layout-grid grid-39">
                  <div
                    id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7e3-4350eb02"
                    class="div-block-445"
                  >
                    <img
                      src="../../assets/Group-4959.svg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <div
                    id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7e5-4350eb02"
                    class="div-block-444"
                  >
                    <p class="paragraph-12">
                      Good morning kindly note that I was trying to login and it
                      shows a message to contact South African Weather Service
                      admin
                    </p>
                    <div>
                      <h4 class="time-heading">22/11/2023 09:00 am</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7eb-4350eb02">
            <h4 class="adm">Me</h4>
            <div class="w-layout-grid grid-35">
              <div
                id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7ef-4350eb02"
                class="div-block-449"
              ></div>
              <div id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7f0-4350eb02">
                <div class="w-layout-grid grid-36">
                  <div
                    id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7f2-4350eb02"
                    class="div-block-446"
                  >
                    <p class="paragraph-12">
                      Okay thank you for your feedback give us few minutes and we
                      will get back to ASAP
                    </p>
                    <h4 class="time-heading-copy">22/11/2023 09:00 am</h4>
                  </div>
                  <div
                    id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7f7-4350eb02"
                    class="div-block-445"
                  >
                    <img
                      src="../../assets/Group-5146.svg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7dd-4350eb02">
            <h4 class="heading-name">Subscribe User</h4>
            <div class="w-layout-grid grid-37">
              <div id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7e1-4350eb02">
                <div class="w-layout-grid grid-39">
                  <div
                    id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7e3-4350eb02"
                    class="div-block-445"
                  >
                    <img
                      src="../../assets/Group-4959.svg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <div
                    id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7e5-4350eb02"
                    class="div-block-444"
                  >
                    <p class="paragraph-12">
                      Good morning kindly note that I was trying to login and it
                      shows a message to contact South African Weather Service
                      admin
                    </p>
                    <div>
                      <h4 class="time-heading">22/11/2023 09:00 am</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7eb-4350eb02">
            <h4 class="adm">Me</h4>
            <div class="w-layout-grid grid-35">
              <div
                id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7ef-4350eb02"
                class="div-block-449"
              ></div>
              <div id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7f0-4350eb02">
                <div class="w-layout-grid grid-36">
                  <div
                    id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7f2-4350eb02"
                    class="div-block-446"
                  >
                    <p class="paragraph-12">
                      Okay thank you for your feedback give us few minutes and we
                      will get back to ASAP
                    </p>
                    <h4 class="time-heading-copy">22/11/2023 09:00 am</h4>
                  </div>
                  <div
                    id="w-node-_00f517dd-1c68-5ad5-ef28-9cb272bef7f7-4350eb02"
                    class="div-block-445"
                  >
                    <img
                      src="../../assets/Group-5146.svg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
    <div class="bottomdiv">
      <img
        src="../../assets/Path-3447.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
      <div class="footerdiv" (click)="home()">
        <a class="w-inline-block"
          ><img src="../../assets/Group-3489.svg" loading="lazy" alt=""
        /></a>
      </div>
    </div>
  </section>
</ion-content>
