<ion-content [fullscreen]="true">
  <section class="chats-section">
    <div class="div-block-2">
      <img
        src="images/Path-3452.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
    </div>
    <div class="main-div-sub">
      <h1 class="heading-6">Chats</h1>
      <div class="w-layout-grid subscription-p-main-div">
        <div
          id="w-node-_46fea626-331a-31b2-3d93-495b4bd70088-871273fb"
          class="div-block-15"
        >
          <div class="div-block-14"></div>
        </div>
      </div>

      <div class="div-block-15">
        <div class="div-block-60">
          <div class="w-layout-grid grid-34">
            <div
              id="w-node-_1c3f6fe6-e4db-7e6a-a477-03e3d9b9bab2-871273fb"
              class="div-block-54"
            >
              <div class="w-layout-grid grid-33">
                <div
                  id="w-node-_6c1890b3-3c19-96b9-c4da-81bac2d03e2d-871273fb"
                  class="div-block-57"
                >
                  <div class="div-block-62">
                    <h2 class="date">12/03/2024</h2>
                    <div class="containers">
                      <img
                        src="../../assets/Group 4959.svg"
                        alt="Avatar"
                        style="width: 100%"
                      />
                      <p>Hello. How are you today?</p>
                      <span class="time-right">11:00</span>
                    </div>
                    <div class="containers darkers">
                      <img
                        src="../../assets/Group 4959 (1).svg"
                        alt="Avatar"
                        class="right"
                        style="width: 100%"
                      />
                      <p>Hey! I'm fine. Thanks for asking!</p>
                      <span class="time-left">11:01</span>
                    </div>
                    <div class="containers">
                      <img
                        src="../../assets/Group 4959.svg"
                        alt="Avatar"
                        style="width: 100%"
                      />
                      <p>Sweet! So, what do you wanna do today?</p>
                      <span class="time-right">11:02</span>
                    </div>
                    <div class="containers darkers">
                      <img
                        src="../../assets/Group 4959 (1).svg"
                        alt="Avatar"
                        class="right"
                        style="width: 100%"
                      />
                      <p>
                        Nah, I dunno. Play soccer.. or learn more coding
                        perhaps?
                      </p>
                      <span class="time-left">11:05</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottomdiv">
      <img
        src="../../assets/Path-3447.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
      <div class="footerdiv" (click)="home()">
        <a class="w-inline-block"
          ><img src="../../assets/Group-3489.svg" loading="lazy" alt=""
        /></a>
      </div>
    </div>
  </section>
</ion-content>
