<section class="list-page">
  <div class="div-block-2">
    <img
      src="../../assets/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>
  <div class="list-div">
    <h1 class="heading-6">Forecast</h1>
    <div class="w-layout-grid grid-list">
      <a
        id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
        href="#"
        class="link-block-3 w-inline-block"
      >
        <h1 class="heading-5">Colour Coded TAF</h1>
      </a>
      <a
        id="w-node-eeb1886e-2c92-e02c-6736-b9ae31e75cb6-56144603"
        href="#"
        class="link-block-3 w-inline-block"
      >
        <h1 class="heading-5">Colour Coded Sigmet / Airmet</h1>
      </a>
      <a
        id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
        href="#"
        class="link-block-3 w-inline-block"
      >
        <h1 class="heading-5">Colour Coded Warnings</h1>
      </a>
      <a
        id="w-node-_4593e247-69cf-e91a-51a8-11e4baf505a6-56144603"
        href="#"
        class="link-block-3 w-inline-block"
      >
        <h1 class="heading-5">Sigmet / Airmet</h1>
      </a>
      <a
        id="w-node-_078229fb-9429-4eeb-6bec-db0fea6b9f76-56144603"
        href="#"
        class="link-block-3 w-inline-block"
      >
        <h1 class="heading-5">Take - Off Data</h1>
      </a>
      <a
        id="w-node-_8ccd7981-b08e-6ab6-00af-cf117e7ebbb5-56144603"
        href="#"
        class="link-block-3 w-inline-block"
      >
        <h1 class="heading-5">TAF</h1>
      </a>
      <a
        id="w-node-_399ad39a-5fc5-c0fe-16e0-32b15b7f12a8-56144603"
        href="#"
        class="link-block-3 w-inline-block"
      >
        <h1 class="heading-5">TAF accuracy</h1>
      </a>
    </div>
  </div>
  <div class="bottomdiv">
    <img
      src="../../assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
    <div class="footerdiv">
      <a (click)="forecastPage()" class="w-inline-block"
        ><img src="../../assets/Group-3489.svg" loading="lazy" alt=""
      /></a>
    </div>
  </div>
</section>
