<ion-content
  ><section class="list-page">
    <!-- <div class="div-block-2">
      <ion-menu-button class="left-aligned-menu-button"></ion-menu-button>
      <img
        src="../../assets/Path-3452.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
    </div> -->
    <div
      class=""
      [ngClass]="{'applied-styles': !isLoggedIn}"
      *ngIf="isLoggedIn==true"
    >
      <h1
        class="heading-6"
        [ngStyle]="{'text-align': isLoggedIn ? 'center' : 'left'}"
      >
        Forecast
      </h1>
      <div
        class="w-layout-grid grid-list"
        style="overflow-y: auto; max-height: 460px; -ms-overflow-style: none"
      >
        <a
          id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Color coded: SIGMENT/AIRMET</h1>
        </a>
        <a
          id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Color coded:TAF</h1>
        </a>
        <a
          id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Color coded:Warning</h1>
        </a>
        <a
          id="w-node-eeb1886e-2c92-e02c-6736-b9ae31e75cb6-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Take-off data</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">TAF:Accuracy</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">TAF:Recent</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Trend Forecast</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">WAF Harmonized GRID Products</h1>
        </a>
        <a
          id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">SIGWX Charts(Landscape)</h1>
        </a>
        <a
          id="w-node-eeb1886e-2c92-e02c-6736-b9ae31e75cb6-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">SPOT Graph</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Advisories</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Warnings</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Rapid Thunderstorm develpment graph</h1>
        </a>
      </div>
    </div>

    <div class="list-div" *ngIf="isLoggedIn==false">
      <h1 class="heading-6">Forecast</h1>
      <div class="w-layout-grid grid-list">
        <a
          id="w-node-_0de2fb19-c504-712a-b299-1a10b36205eb-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">SIGMET/AIRMET</h1>
        </a>
        <a
          id="w-node-eeb1886e-2c92-e02c-6736-b9ae31e75cb6-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">TAFS</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Recent TAFs</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Advisories</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Warnings</h1>
        </a>
        <a
          id="w-node-_15267599-4e64-b2e4-4f2f-f2a4545a7361-56144603"
          href="#"
          class="link-block-3 w-inline-block"
        >
          <h1 class="heading-5">Recent TAFS</h1>
        </a>
      </div>
    </div>
    <div class="bottomdiv" style="margin-top: 156%">
      <img
        src="../../assets/Path-3447.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
      <div class="footerdiv">
        <a (click)="forecastPage()" class="w-inline-block"
          ><img src="../../assets/Group-3489.svg" loading="lazy" alt=""
        /></a>
      </div>
    </div></section
></ion-content>
