<ion-content>
  <app-loading *ngIf="loading"></app-loading>
  <app-package-content>
    <app-package-header> Saved flight </app-package-header>
  </app-package-content>

  <app-package-list-items>
    <!-- <h1 class="heading-6">Saved flight </h1> -->

    <div>
      <div class="button-2-copy w-button" (click)="addNewFlight()">
        Click here to add a new flight
      </div>
    </div>

    <div class="flightScrol">
      <div class="table-contain">
        <div>
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="Flight">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Flight</mat-header-cell
              >
              <mat-cell *matCellDef="let row"> {{ row.Flight }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="departure">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Departure</mat-header-cell
              >
              <mat-cell *matCellDef="let row"> {{ row.departure }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="destination">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Destination</mat-header-cell
              >
              <mat-cell *matCellDef="let row"> {{ row.destination }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="etd">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >ETD</mat-header-cell
              >
              <mat-cell *matCellDef="let row"> {{ row.etd }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="vfr">
              <mat-header-cell *matHeaderCellDef>VFR/IFR</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.vfr }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef>Edit/Generate</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <a
                  href="javascript:void(0)"
                  (click)="editFlight(row)"
                  style="margin-right: 8px; text-decoration: underline"
                  >Edit</a
                >
                <a
                  href="javascript:void(0)"
                  (click)="generateFlight(row)"
                  style="text-decoration: underline"
                  >Generate</a
                >
                <a
                  href="javascript:void(0)"
                  (click)="generateFlight(row)"
                  style="text-decoration: underline"
                  >Generate to output</a
                >
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25]"
      showFirstLastButtons
    ></mat-paginator>

    <!-- DELETE ALL MOVED TO BOTTOM -->
    <div style="margin-top: 20px">
      <div class="button-2-copy w-button" (click)="deleteAllFlights()">
        Delete all flights
      </div>
    </div>
  </app-package-list-items>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="NavigateToFlightBriefing()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Flight Briefing
    </h6>
  </div>
</div>
