<ion-content>
  <app-loading *ngIf="loading"></app-loading>

  <div id="top"></div>
  <app-package-content>
    <app-package-header> Domestic/Regional Flight </app-package-header>

    <app-package-sub-header> </app-package-sub-header>

    <app-package-list-items *ngIf="!showReport">
      <h1 class="heading-6">Domestic/Regional Flight <br />Documentation</h1>

      <div class="div-block-473">
        <h1 class="heading-6"><strong>General Requests</strong></h1>
        <div class="w-layout-grid grid-45" id="grid455">
          <!-- Column 1: Forecasts / Actuals -->
          <div>
            <div class="div-blue-copy">
              <div class="div-block-477">
                <h1 class="heading-50"><strong>Forecasts / Actuals</strong></h1>
              </div>
            </div>
            <div class="checkbox-container">
              <div id="checkboxes">
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.metar"
                      name="metar"
                    />
                    METAR</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.speci"
                      name="speci"
                    />
                    SPECI</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.taf"
                      name="taf"
                    />
                    TAF</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.sigmet"
                      name="sigmet"
                    />
                    Sigmet/Airmet</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.takeoff"
                      name="takeoff"
                    />
                    Take-off Data</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.qnh"
                      name="qnh"
                    />
                    QNH Chart</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.warning"
                      name="warning"
                    />
                    Warnings</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.amo"
                      name="amo"
                    />
                    AMO</label
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- Column 2: Winds -->
          <div>
            <div class="div-blue-copy">
              <div class="div-block-477">
                <h1 class="heading-50"><strong>Forecasts Winds</strong></h1>
              </div>
            </div>
            <h1 class="heading-21-copy">Block Winds</h1>
            <div class="checkbox-container">
              <div id="checkboxes">
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.blockWindLow"
                      name="bwLow"
                    />
                    FL010-240</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.blockWindHigh"
                      name="bwHigh"
                    />
                    FL210-450</label
                  >
                </div>
              </div>
              <div style="margin-top: 10px">
                <label class="field-label">FCST Hour</label>
                <div
                  class="dropdown-container"
                  (click)="toggleDropdown('dropdown2')"
                >
                  <div class="dropdown-toggle">
                    <div class="text-block">{{ selectedOption2 }}</div>
                    <div class="dropdown-arrow">
                      <img
                        src="../../assets/icon/arrow-drop-down-svgrepo-com.svg"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <nav
                    class="dropdown-list1"
                    *ngIf="isDropdownOpen2"
                    (click)="$event.stopPropagation()"
                  >
                    <div class="w-dropdown-link" (click)="selectOption2('xx')">
                      xx
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption2('06')">
                      06
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption2('12')">
                      12
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption2('18')">
                      18
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption2('24')">
                      24
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption2('30')">
                      30
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption2('36')">
                      36
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption2('42')">
                      42
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption2('48')">
                      48
                    </div>
                  </nav>
                </div>
              </div>
            </div>

            <h1 class="heading-21-copy">Vector Winds</h1>
            <div class="checkbox-container">
              <div id="checkboxes">
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.barbWindLow"
                      name="barbLow"
                    />
                    FL010-210</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.barbWindHigh"
                      name="barbHigh"
                    />
                    FL150-450</label
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- Column 3: Sigwx -->
          <div>
            <div class="div-blue-copy">
              <div class="div-block-477">
                <h1 class="heading-50"><strong>Sigwx Charts</strong></h1>
              </div>
            </div>
            <h1 class="heading-21-copy">A4 Size</h1>
            <div class="checkbox-container">
              <div id="checkboxes">
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.addLow"
                      name="addLow"
                    />
                    ADD Low</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.lowSigwx"
                      name="lowSig"
                    />
                    Low</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.highSigwx"
                      name="highSig"
                    />
                    High</label
                  >
                </div>
              </div>
              <div style="margin-top: 10px">
                <label class="field-label-5">Chart Hour</label>
                <div
                  class="dropdown-container"
                  (click)="toggleDropdown('dropdown3')"
                >
                  <div class="dropdown-toggle">
                    <div class="text-block">{{ selectedOption3 }}</div>
                    <div class="dropdown-arrow">
                      <img
                        src="../../assets/icon/arrow-drop-down-svgrepo-com.svg"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <nav
                    class="dropdown-list1"
                    *ngIf="isDropdownOpen3"
                    (click)="$event.stopPropagation()"
                  >
                    <div class="w-dropdown-link" (click)="selectOption3('xx')">
                      xx
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption3('00')">
                      00
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption3('03')">
                      03
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption3('06')">
                      06
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption3('09')">
                      09
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption3('12')">
                      12
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption3('15')">
                      15
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption3('18')">
                      18
                    </div>
                    <div class="w-dropdown-link" (click)="selectOption3('21')">
                      21
                    </div>
                  </nav>
                </div>
              </div>
            </div>

            <div class="checkbox-container" style="margin-top: 10px">
              <div id="checkboxes">
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.symbols"
                      name="symbols"
                    />
                    Include Symbols</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.coverPage"
                      name="cover"
                    />
                    Include Cover Page</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.pageBreaks"
                      name="pageBreak"
                    />
                    Use page breaks</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.rotateImages"
                      name="rotate"
                    />
                    Rotate Images</label
                  >
                </div>
                <div class="checkbox-item">
                  <label class="w-checkbox checkbox-field-6"
                    ><input
                      type="checkbox"
                      class="w-checkbox-input zz"
                      [(ngModel)]="flightSections.selectAll"
                      (change)="toggleSelectAll()"
                      name="selectAll"
                    />
                    Select All</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- LOCATIONS -->
        <h1 class="heading-6"><strong>Locations</strong></h1>
        <div class="w-layout-grid grid-45" id="grid455">
          <div></div>
          <div class="div-block-48">
            <div class="div-block-470-copy">
              <label class="field-label-5-copy">Regions</label>
              <div
                class="dropdown-container"
                (click)="toggleDropdown('dropdown4')"
              >
                <div class="dropdown-toggle">
                  <div class="text-block">{{ selectedOption4 }}</div>
                  <div class="dropdown-arrow">
                    <img
                      src="../../assets/icon/arrow-drop-down-svgrepo-com.svg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </div>
                <nav
                  class="dropdown-list1"
                  *ngIf="isDropdownOpen4"
                  (click)="$event.stopPropagation()"
                >
                  <div
                    class="w-dropdown-link"
                    *ngFor="let region of regions"
                    (click)="selectRegion(region)"
                  >
                    {{ region }}
                  </div>
                </nav>
              </div>
            </div>

            <div class="div-block-470-copy">
              <label class="field-label-5-copy">Station List</label>
              <div
                class="dropdown-container"
                (click)="toggleDropdown('dropdown6')"
              >
                <div class="dropdown-toggle">
                  <div class="text-block">{{ selectedOption6 }}</div>
                  <div class="dropdown-arrow">
                    <img
                      src="../../assets/icon/arrow-drop-down-svgrepo-com.svg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </div>
                <nav
                  class="dropdown-list1"
                  *ngIf="isDropdownOpen6"
                  (click)="$event.stopPropagation()"
                >
                  <div
                    class="w-dropdown-link"
                    *ngFor="let station of filteredStations"
                    (click)="selectStation(station)"
                  >
                    {{ station }}
                  </div>
                </nav>
              </div>
              <textarea
                maxlength="5000"
                class="text-field-blue-fcopy w-input"
                [(ngModel)]="stationCodes"
                name="stationCodes"
              ></textarea>
            </div>

            <div class="div-block-470-copy">
              <div id="addremove1">
                <div>
                  <div class="remove-button w-button" (click)="clearStations()">
                    Clear
                  </div>
                </div>
                <div>
                  <div class="remove-button w-button" (click)="sortStations()">
                    Sort
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- BUTTONS -->
        <div class="div-block-470-copy">
          <div id="addremove1">
            <div><div class="button-2-copy w-button">Schedule</div></div>
            <div>
              <div class="button-2-copy w-button" (click)="viewReport()">
                View Report
              </div>
            </div>
            <div>
              <div class="button-2-copy w-button" (click)="downloadPDF()">
                Download PDF
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-package-list-items>

    <!-- REPORT VIEWER -->
    <app-package-list-items *ngIf="showReport">
      <div class="report-viewer">
        <div class="report-actions">
          <button class="button-2-copy w-button" (click)="closeReport()">
            Close
          </button>
          <button class="button-2-copy w-button" (click)="downloadPDF()">
            Print / PDF
          </button>
        </div>

        <div
          class="report-page"
          *ngFor="let page of reportPages; let i = index"
        >
          <div class="saws-header">
            <p><strong>Aviation Weather Center</strong></p>
            <p>
              designated Aeronautical Meteorological Authority for South Africa
            </p>
            <p>Aeronautical Meteorological Documentation</p>
            <p>Compiled at Aviation Weather Centre</p>
            <p>O.R. Tambo International Airport, South Africa</p>
            <p>
              Date: {{ reportDate | date : "yyyy-MM-dd" }} - Time:
              {{ reportDate | date : "HH:mm:ss" }} Z
            </p>
            <hr />
          </div>

          <ng-container *ngIf="page.type == 'cover'">
            <h1 class="report-title">
              Aeronautical Meteorological Documentation
            </h1>
            <p>Compiled at Aviation Weather Centre</p>
            <p>O.R. Tambo International Airport, South Africa</p>
            <p>
              Date: {{ reportDate | date : "yyyy-MM-dd" }} - Time:
              {{ reportDate | date : "HH:mm:ss" }} Z
            </p>
            <h3>Content</h3>
          </ng-container>

          <ng-container *ngIf="page.type == 'content'">
            <h2>Content</h2>
            <table class="content-table">
              <tr *ngIf="flightSections.metar">
                <td>METAR</td>
                <td>Meteorological Aerodrome Report</td>
              </tr>
              <tr *ngIf="flightSections.speci">
                <td>SPECI</td>
                <td>Special Meteorological Aerodrome Report</td>
              </tr>
              <tr *ngIf="flightSections.taf">
                <td>TAF</td>
                <td>Terminal Aerodrome Forecast</td>
              </tr>
              <tr *ngIf="flightSections.sigmet">
                <td>SIGMET</td>
                <td>Significant Weather</td>
              </tr>
              <tr *ngIf="flightSections.airmet">
                <td>AIRMET</td>
                <td>
                  Significant Weather below FL100 and in mountainous areas below
                  FL150
                </td>
              </tr>
              <tr *ngIf="flightSections.takeoff">
                <td>Take-off Data</td>
                <td>Forecast Runway parameters</td>
              </tr>
              <tr *ngIf="flightSections.warning">
                <td>Warnings</td>
                <td>Aerodrome Warnings</td>
              </tr>
              <tr *ngIf="flightSections.qnh">
                <td>QNH Chart</td>
                <td>QNH analysis</td>
              </tr>
              <tr *ngIf="flightSections.blockWindLow">
                <td>Block Wind</td>
                <td>FL010 to FL240</td>
              </tr>
              <tr *ngIf="flightSections.blockWindHigh">
                <td>Block Wind</td>
                <td>FL210 to FL450</td>
              </tr>
              <tr *ngIf="flightSections.barbWindLow">
                <td>Barb Wind</td>
                <td>FL010 to FL210</td>
              </tr>
              <tr *ngIf="flightSections.barbWindHigh">
                <td>Barb Wind</td>
                <td>FL150 to FL450</td>
              </tr>
              <tr *ngIf="flightSections.addLow">
                <td>ADD Low</td>
                <td>Additional Low Sigwx chart, below FL100</td>
              </tr>
              <tr *ngIf="flightSections.lowSigwx">
                <td>LOW SIGWX</td>
                <td>Sigwx chart from surface to FL180</td>
              </tr>
              <tr *ngIf="flightSections.highSigwx">
                <td>HIGH SIGWX</td>
                <td>Sigwx chart above FL180</td>
              </tr>
              <tr *ngIf="flightSections.symbols">
                <td>Symbols</td>
                <td>Chart Symbols</td>
              </tr>
            </table>
            <p class="copyright">Copyright © South African Weather Service</p>
          </ng-container>

          <!-- Text Pages -->
          <ng-container *ngIf="page.type == 'text'">
            <h2>{{ page.title }}</h2>
            <p>Compiled at Aviation Weather Centre, O.R. Tambo Intl. Airport</p>
            <p>
              Date:{{ reportDate | date : "yyyy-MM-dd" }} - Time:{{
                reportDate | date : "HH:mm:ss"
              }}
              Z
            </p>
            <hr />
            <ng-container *ngIf="isGroupedReport(page); else normalText">
              <div *ngIf="page.data && page.data.length > 0; else noData">
                <div *ngFor="let group of page.data" class="province-block">
                  <h3 class="province-heading">{{ group.province }}</h3>
                  <pre *ngFor="let item of group.items">{{
                    item.filecontent || item.content
                  }}</pre>
                </div>
              </div>
            </ng-container>
            <ng-template #normalText>
              <div *ngIf="page.data && page.data.length > 0; else noData">
                <pre *ngFor="let item of page.data">{{
                  item.filecontent || item.content
                }}</pre>
              </div>
            </ng-template>
            <ng-template #noData
              ><p>No data available for selected stations.</p></ng-template
            >
          </ng-container>

          <!-- Image Pages -->
          <ng-container *ngIf="page.type == 'image'">
            <h2>{{ page.title }}</h2>
            <div *ngIf="page.image; else noImage">
              <img
                [src]="page.image"
                class="report-image"
                alt="Report Image"
                style="max-width: 100%; page-break-inside: avoid"
              />
            </div>
            <ng-template #noImage><p>Image not available</p></ng-template>
          </ng-container>
        </div>
      </div>
    </app-package-list-items>
  </app-package-content>
</ion-content>

<app-footer></app-footer>

<div class="footerdiv" id="footerdivid1">
  <div (click)="NavigateToDomestic()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Domestic
    </h6>
  </div>
</div>
