<ion-content>
  <app-loading *ngIf="loading"></app-loading>
  <div id="top"></div>
  <app-package-content>
    <app-service-header> nsWEBPIB Query </app-service-header>

    <app-package-list-items>
      <div style="margin-top: 19%">
        <div class="w-layout-grid grid-42">
          <div
            id="w-node-db8303b9-23b4-91f6-d1e3-4ad3c3e9df85-07cb82d5"
            class="div-block-471"
            (click)="openPopup('scheduling')"
          >
            <img src="../../assets/Mask-Group-28.svg" loading="lazy" alt="" />
            <h3 class="heading-49">Scheduling <br />Options</h3>
          </div>
          <div
            id="w-node-f0d9d6d5-5c8a-19cb-657c-78eea791915e-07cb82d5"
            class="div-block-471"
            (click)="openPopup('folder')"
          >
            <img
              src="../../assets/Icon-ionic-ios-folder.svg"
              loading="lazy"
              alt=""
            />
            <h3 class="heading-49">
              Folder Format<br />
              Settings
            </h3>
          </div>
          <div
            id="w-node-e0a4dcc2-7287-193f-9f87-4ce3e4e69ddf-07cb82d5"
            class="div-block-471"
            (click)="openPopup('document')"
          >
            <img
              src="../../assets/content-management.svg"
              loading="lazy"
              alt=""
            />
            <h3 class="heading-49">Generate <br />Document</h3>
          </div>
          <div
            id="w-node-c8b58079-d1bc-ab6a-7a9f-97eff9b0fde3-07cb82d5"
            class="div-block-471"
            (click)="openPopup('operation')"
          >
            <img src="../../assets/pilot.svg" loading="lazy" alt="" />
            <h3 class="heading-49">Operation <br />Information</h3>
          </div>
          <div
            id="w-node-ac96661a-f28d-f1fe-af74-56e4d9825879-07cb82d5"
            class="div-block-471"
            (click)="openPopup('output')"
          >
            <img
              src="../../assets/export-disc-data.svg"
              loading="lazy"
              alt=""
            />
            <h3 class="heading-49">Generate to <br />Output</h3>
          </div>
        </div>
        <div
          id="w-node-df5f50f1-8d35-aa2e-8867-57e80d178335-07cb82d5"
          class="div-off"
        >
          <div class="w-form">
            <form
              id="email-form-2"
              name="email-form-2"
              data-name="Email Form 2"
              method="get"
            >
              <h5 class="heading-9">Search</h5>
              <div class="inline">
                <input
                  class="search-input w-input"
                  maxlength="256"
                  name="query"
                  placeholder="Search…"
                  type="search"
                  id="searchValue"
                />
                <button type="submit" class="search-button w-button">
                  Search
                </button>
              </div>
              <div
                style="display: flex; justify-content: flex-end; margin: 10px 0"
              >
                <div
                  id="w-node-ac96661a-f28d-f1fe-af74-56e4d9825879-07cb82d5"
                  class="div-block-471"
                  (click)="addNewTemplate()"
                >
                  <ion-icon
                    name="add-circle"
                    style="color: #28a745; font-size: 32px; cursor: pointer"
                  ></ion-icon>
                </div>
              </div>
              <label for="field-2" class="heading-9"
                >Select a Saved template</label
              >
            </form>
          </div>

          <!-- WRAPPER FOR DROPDOWN + ICONS -->
          <div
            style="
              display: flex;
              align-items: center;
              gap: 10px;
              margin-top: 8px;
            "
          >
            <!-- DROPDOWN -->
            <div
              data-hover="false"
              data-delay="0"
              (click)="selectDropdown('dropdown2')"
              class="template-select w-dropdown"
              style="flex: 1"
            >
              <div class="w-dropdown-toggle">
                <div class="text-block">{{ selectedOption2 }}</div>
                <div class="dropdown-arrow">
                  <img
                    src="../../assets/icon/arrow-drop-down-svgrepo-com.svg"
                    loading="lazy"
                    alt=""
                  />
                </div>
              </div>

              <nav class="dropdown-list1" *ngIf="isDropdownOpen2">
                <div *ngIf="loading" class="w-dropdown-link">Loading...</div>
                <div
                  *ngIf="!loading && templates.length === 0"
                  class="w-dropdown-link"
                >
                  No templates saved
                </div>

                <div
                  class="w-dropdown-link"
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  "
                  *ngFor="let template of templates"
                  (click)="selectTemplate(template); $event.stopPropagation()"
                >
                  <span>{{ template.flightNumber }}</span>

                  <ion-icon
                    name="trash-outline"
                    (click)="deleteTemplate(template); $event.stopPropagation()"
                    style="color: #e74c3c; font-size: 18px"
                  ></ion-icon>
                </div>
              </nav>
            </div>
          </div>

          <!-- DELETE SELECTED BUTTON -->
          <button
            *ngIf="selectedTemplate"
            class="icon-btn delete-btn"
            (click)="deleteSelectedTemplate()"
            title="Delete selected template"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </div>
        <h1 class="heading">Flight definition</h1>
        <div class="w-layout-grid edit-flight-grid">
          <div
            id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba456-07cb82d5"
            class="div-white-and-borders"
          >
            <div class="w-layout-grid grid-27">
              <div
                id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba458-07cb82d5"
                class="div-block-48"
              >
                <h4 class="heading-21">
                  <strong>Flight name/number</strong>
                </h4>
              </div>
              <div
                id="w-node-_496d1ff9-7392-437a-4978-6791e9330dc9-07cb82d5"
                class="div-block-48"
              >
                <div class="w-form">
                  <form
                    id="email-form-3"
                    name="email-form-3"
                    data-name="Email Form 3"
                    method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="496d1ff9-7392-437a-4978-6791e9330dcb"
                  >
                    <div class="div-block-470">
                      <input
                        class="text-field-blue-borders w-input"
                        maxlength="256"
                        name="field-2"
                        data-name="Field 2"
                        placeholder=""
                        type="text"
                        id="field-2"
                        required=""
                        [(ngModel)]="flightName"
                      />
                    </div>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba468-07cb82d5"
            class="div-blue-copy"
          >
            <div class="w-layout-grid grid-27">
              <div
                id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba46a-07cb82d5"
                class="div-block-48"
              >
                <h4 class="heading-21">
                  <strong>Departure</strong>
                </h4>
              </div>
              <div
                id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba46d-07cb82d5"
                class="div-block-48"
              >
                <div class="w-form">
                  <form
                    id="email-form-3"
                    name="email-form-3"
                    data-name="Email Form 3"
                    method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="402f0a29-7fb8-8334-0d00-9b68054ba46f"
                  >
                    <div class="div-block-470">
                      <input
                        class="text-field-blue-borders w-input"
                        maxlength="256"
                        name="field-2"
                        data-name="Field 2"
                        placeholder=""
                        type="text"
                        id="departure"
                        [(ngModel)]="departureAirport"
                        required=""
                      />
                    </div>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba478-07cb82d5"
            class="div-white-and-borders"
          >
            <div class="w-layout-grid grid-27">
              <div
                id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba47a-07cb82d5"
                class="div-block-48"
              >
                <h4 class="heading-21"><strong>En-route</strong></h4>
              </div>
              <div
                id="w-node-_982711d9-9af5-f177-77fd-72bfbd252913-07cb82d5"
                class="div-block-48"
              >
                <div class="w-form">
                  <form
                    id="email-form-3"
                    name="email-form-3"
                    data-name="Email Form 3"
                    method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="982711d9-9af5-f177-77fd-72bfbd252915"
                  >
                    <div class="div-block-470">
                      <input
                        class="text-field-blue-borders w-input"
                        maxlength="256"
                        name="field-2"
                        data-name="Field 2"
                        placeholder=""
                        type="text"
                        id="field-2"
                        required=""
                        [(ngModel)]="enroute"
                      />
                    </div>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba48a-07cb82d5"
            class="div-blue-copy"
          >
            <div class="w-layout-grid grid-27">
              <div
                id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba48c-07cb82d5"
                class="div-block-48"
              >
                <h4 class="heading-21"><strong>Destination</strong></h4>
              </div>
              <div
                id="w-node-_460adfe8-0fbf-3f6f-7878-96c2f5a33ffd-07cb82d5"
                class="div-block-48"
              >
                <div class="w-form">
                  <form
                    id="email-form-3"
                    name="email-form-3"
                    data-name="Email Form 3"
                    method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="460adfe8-0fbf-3f6f-7878-96c2f5a33fff"
                  >
                    <div class="div-block-470">
                      <input
                        class="text-field-blue-borders w-input"
                        maxlength="256"
                        name="field-2"
                        data-name="Field 2"
                        placeholder=""
                        type="text"
                        id="field-2"
                        required=""
                        [(ngModel)]="destinationAirport"
                      />
                    </div>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba49c-07cb82d5"
            class="div-white-and-borders"
          >
            <div class="w-layout-grid grid-27">
              <div
                id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba49e-07cb82d5"
                class="div-block-48"
              >
                <h4 class="heading-21"><strong>ETD (UTC)</strong> (HHMM)</h4>
              </div>
              <div
                id="w-node-_6a515ac2-6090-0fcb-1cb7-c2aa6c44c384-07cb82d5"
                class="div-block-48"
              >
                <div class="w-form">
                  <form
                    id="email-form-3"
                    name="email-form-3"
                    data-name="Email Form 3"
                    method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="6a515ac2-6090-0fcb-1cb7-c2aa6c44c386"
                  >
                    <div class="div-block-470">
                      <input
                        class="text-field-blue-borders w-input"
                        maxlength="256"
                        name="field-2"
                        data-name="Field 2"
                        placeholder=""
                        type="text"
                        id="field-2"
                        required=""
                        [(ngModel)]="etd"
                      />
                    </div>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba4ae-07cb82d5"
            class="div-blue-copy"
          >
            <div class="w-layout-grid grid-27">
              <div
                id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba4b0-07cb82d5"
                class="div-block-48"
              >
                <h4 class="heading-21">
                  <strong>ETE (Duration)</strong> (HHMM)
                </h4>
              </div>
              <div
                id="w-node-_0a45ef99-7912-a595-160d-e4ce47e36b15-07cb82d5"
                class="div-block-48"
              >
                <div class="w-form">
                  <form
                    id="email-form-3"
                    name="email-form-3"
                    data-name="Email Form 3"
                    method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="0a45ef99-7912-a595-160d-e4ce47e36b17"
                  >
                    <div class="div-block-470">
                      <input
                        class="text-field-blue-borders w-input"
                        maxlength="256"
                        name="field-2"
                        data-name="Field 2"
                        placeholder=""
                        type="text"
                        id="field-2"
                        required=""
                        [(ngModel)]="ete"
                      />
                    </div>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba4d2-07cb82d5"
            class="div-white-and-borders"
          >
            <div class="w-layout-grid grid-27">
              <div
                id="w-node-_402f0a29-7fb8-8334-0d00-9b68054ba4d4-07cb82d5"
                class="div-block-48"
              >
                <h4 class="heading-21"><strong>VFR</strong></h4>
              </div>
              <div
                id="w-node-ded22911-d09f-1928-b906-79e913e1a0fb-07cb82d5"
                class="div-block-48"
              >
                <div class="w-form">
                  <form
                    id="email-form-3"
                    name="email-form-3"
                    data-name="Email Form 3"
                    method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="ded22911-d09f-1928-b906-79e913e1a0fd"
                  >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        id="checkbox-2"
                        name="checkbox-2"
                        data-name="Checkbox 2"
                        class="w-checkbox-input checkbox"
                        [(ngModel)]="isVfr" /><span
                        class="checkbox-label-2 w-form-label"
                        for="checkbox-2"
                      ></span
                    ></label>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="w-node-bd7ae276-4c74-c2a3-3224-c36061e5e367-07cb82d5"
            class="div-blue-copy"
          >
            <div class="w-layout-grid grid-27">
              <div
                id="w-node-bd7ae276-4c74-c2a3-3224-c36061e5e369-07cb82d5"
                class="div-block-48"
              >
                <h4 class="heading-21">
                  <strong>Include Cross Section</strong>
                </h4>
              </div>
              <div
                id="w-node-_42186cc3-33ea-8c9a-884a-9f2800466b13-07cb82d5"
                class="div-block-48"
              >
                <div class="w-form">
                  <form
                    id="email-form-3"
                    name="email-form-3"
                    data-name="Email Form 3"
                    method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="42186cc3-33ea-8c9a-884a-9f2800466b15"
                  >
                    <label class="w-checkbox checkbox-field-6">
                      <input
                        type="checkbox"
                        class="w-checkbox-input checkbox"
                        [(ngModel)]="includeCrossSection"
                        name="includeCrossSection"
                      />
                      <span class="checkbox-label-2 w-form-label"></span>
                    </label>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="w-node-_8d08ab63-9ea1-978f-8354-82f70af1b61d-07cb82d5"
            class="div-white-and-borders"
          >
            <div class="w-layout-grid grid-27">
              <div
                id="w-node-_8d08ab63-9ea1-978f-8354-82f70af1b61f-07cb82d5"
                class="div-block-48"
              >
                <h4 class="heading-21">
                  <strong>Include Advisories</strong>
                </h4>
              </div>
              <div
                id="w-node-_68c50297-5a45-6ae8-4483-216ee779751d-07cb82d5"
                class="div-block-48-copy"
              >
                <div class="w-form">
                  <form
                    id="email-form-3"
                    name="email-form-3"
                    data-name="Email Form 3"
                    method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="68c50297-5a45-6ae8-4483-216ee779751f"
                  >
                    <div class="div-block-470">
                      <label class="w-checkbox checkbox-field-6"
                        ><input
                          type="checkbox"
                          id="checkbox-2"
                          name="checkbox-2"
                          data-name="Checkbox 2"
                          class="w-checkbox-input zz"
                          [(ngModel)]="spaceWeather"
                        />
                        <span
                          class="checkbox-label-2-copy w-form-label"
                          for="checkbox-2"
                          >Space Weather</span
                        > </label
                      ><label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          id="checkbox-2"
                          name="checkbox-2"
                          data-name="Checkbox 2"
                          class="w-checkbox-input zz"
                        />
                        <span
                          class="checkbox-label-2-copy w-form-label"
                          for="checkbox-2"
                          >Cyclone</span
                        >
                      </label>
                      <label class="w-checkbox checkbox-field-6"
                        ><input
                          type="checkbox"
                          id="checkbox-2"
                          name="checkbox-2"
                          data-name="Checkbox 2"
                          class="w-checkbox-input zz"
                        />
                        <span
                          class="checkbox-label-2-copy w-form-label"
                          for="checkbox-2"
                          >Volash</span
                        ></label
                      >
                    </div>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="w-node-_44d2bd01-e11f-f87a-c533-5a635fa727b4-07cb82d5"
            class="div-blue-copy"
          >
            <div class="w-layout-grid grid-27">
              <div
                id="w-node-_44d2bd01-e11f-f87a-c533-5a635fa727b6-07cb82d5"
                class="div-block-48"
              >
                <h4 class="heading-21"><strong>Include Takeoff</strong></h4>
              </div>
              <div
                id="w-node-_44d2bd01-e11f-f87a-c533-5a635fa727ba-07cb82d5"
                class="div-block-48"
              >
                <div class="w-form">
                  <form
                    id="email-form-3"
                    name="email-form-3"
                    data-name="Email Form 3"
                    method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="44d2bd01-e11f-f87a-c533-5a635fa727bc"
                  >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        id="checkbox-2"
                        name="checkbox-2"
                        data-name="Checkbox 2"
                        class="w-checkbox-input checkbox"
                        [(ngModel)]="includeTakeoff" /><span
                        class="checkbox-label-2 w-form-label"
                        for="checkbox-2"
                      ></span
                    ></label>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="w-node-_704bc6eb-029c-bf1f-f730-6cca0ccb9fca-07cb82d5"
            class="div-white-and-borders"
          >
            <div class="w-layout-grid grid-27">
              <div
                id="w-node-_704bc6eb-029c-bf1f-f730-6cca0ccb9fcc-07cb82d5"
                class="div-block-48"
              >
                <h4 class="heading-21"><strong>Include Aispib</strong></h4>
              </div>
              <div
                id="w-node-_704bc6eb-029c-bf1f-f730-6cca0ccb9fd0-07cb82d5"
                class="div-block-48"
              >
                <div class="w-form">
                  <form
                    id="email-form-3"
                    name="email-form-3"
                    data-name="Email Form 3"
                    method="get"
                    data-wf-page-id="660b9e8f66bf590207cb82d5"
                    data-wf-element-id="704bc6eb-029c-bf1f-f730-6cca0ccb9fd2"
                  >
                    <label class="w-checkbox checkbox-field-6">
                      <input
                        type="checkbox"
                        id="checkbox-2"
                        name="checkbox-2"
                        data-name="Checkbox 2"
                        class="w-checkbox-input checkbox"
                        [(ngModel)]="includeAispib" /><span
                        class="checkbox-label-2 w-form-label"
                        for="checkbox-2"
                      ></span
                    ></label>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-473">
          <h1 class="heading-6"><strong>Corridor width</strong></h1>
          <div class="w-form">
            <form
              id="email-form-4"
              name="email-form-4"
              data-name="Email Form 4"
              method="get"
            >
              <div class="div-block-474">
                <label class="w-radio">
                  <input
                    type="radio"
                    name="corridorWidth"
                    class="w-form-formradioinput w-radio-input"
                    value="narrow"
                    [(ngModel)]="settings.corridorWidth"
                  />
                  <span
                    class="w-form-label"
                    style="position: relative; top: 2px"
                  >
                    <strong>Narrow (20NM)</strong>
                  </span>
                </label>

                <label class="radio-button-field w-radio">
                  <input
                    type="radio"
                    name="corridorWidth"
                    class="w-formradioinput w-radio-input"
                    value="wide"
                    [(ngModel)]="settings.corridorWidth"
                  />
                  <span
                    class="w-form-label"
                    style="position: relative; top: 2px"
                  >
                    <strong>Wide (150NM)</strong>
                  </span>
                </label>

                <label class="radio-button-field w-radio">
                  <input
                    type="radio"
                    name="corridorWidth"
                    class="w-form-formradioinput w-radio-input"
                    value="custom"
                    [(ngModel)]="settings.corridorWidth"
                  />
                  <span
                    class="radio-button-label w-form-label"
                    style="position: relative; top: 2px"
                  >
                    <strong>Custom</strong>
                  </span>
                </label>

                <input
                  class="text-field-blue-borders-copy-copy w-input"
                  maxlength="256"
                  name="customNM"
                  [(ngModel)]="settings.customNM"
                  placeholder="Enter NM"
                  type="number"
                  id="fieldb"
                />

                <label class="radio-button-field-copy w-radio">
                  <span class="w-form-label"><strong>NM</strong></span>
                </label>
              </div>
            </form>
            <div class="w-form-done"></div>
            <div class="w-form-fail"></div>
          </div>
        </div>
        <div class="div-block-473">
          <h1 class="heading-6">
            <strong>Other aerodromes &amp; Stations</strong>
          </h1>
          <div class="w-layout-grid grid-44">
            <div
              id="w-node-d3ef4908-921f-12e8-b2d3-661810e9695d-07cb82d5"
              class="div-block-471"
            >
              <img
                src="../../assets/Icon-metro-calculator.svg"
                loading="lazy"
                alt=""
              />
              <h3 class="heading-49">Calculate Default<br />values</h3>
            </div>
            <div
              id="w-node-eff414db-701b-4cd1-e918-b7936b388863-07cb82d5"
              class="div-block-471"
            >
              <img src="../../assets/flight-ticket.svg" loading="lazy" alt="" />
              <h3 class="heading-49">Station Met<br /></h3>
            </div>
            <div
              id="w-node-f6b01332-6dee-63c3-db4c-720af43c3c57-07cb82d5"
              class="div-block-471"
            >
              <img
                src="../../assets/flight-information.svg"
                loading="lazy"
                alt=""
              />
              <h3 class="heading-49">FIR / UIR Met<br /><br /></h3>
            </div>
          </div>
          <div class="div-block-475">
            <div class="form-block-2 w-form">
              <form
                id="email-form-5"
                name="email-form-5"
                data-name="Email Form 5"
                method="get"
                class="form-4"
              >
                <div class="div-block-476">
                  <label for="otherAerodromes" class="heading-9">
                    <strong>Other Aerodromes (Alternates)</strong>
                  </label>
                  <textarea
                    placeholder="FAOR, FALE, FQMA"
                    maxlength="5000"
                    id="otherAerodromes"
                    name="otherAerodromes"
                    [(ngModel)]="settings.otherAerodromes"
                    class="text-field-blue-borders w-input"
                  ></textarea>
                </div>
                <div class="div-block-476">
                  <label for="firs"><strong>FIR/UIRs</strong></label>
                  <input
                    class="text-field-blue-borders w-input"
                    maxlength="256"
                    name="firs"
                    [(ngModel)]="settings.firs"
                    placeholder="FAJS, FQMA"
                    type="text"
                    id="firs"
                  />
                </div>
              </form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>
            </div>
          </div>
        </div>
        <div class="div-block-473">
          <h1 class="heading"><strong>Significant Weather Charts</strong></h1>
          <div class="div-block-478">
            <h4 class="heading-6-copy"><strong>Flight levels</strong></h4>
            <div
              class="button-2-copy w-button"
              (click)="clearAll('weatherLevels')"
            >
              Clear All
            </div>
          </div>
          <div class="w-layout-grid grid-45">
            <!-- LOW LEVEL -->
            <div class="div-block-48-copy">
              <div class="w-form">
                <form>
                  <div class="div-blue-copy">
                    <div class="div-block-477">
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="defaultLow"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.weatherLevels.defaultLow"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >Default Low Level</span
                        >
                      </label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="div-block-48-copy">
                <form>
                  <div class="div-block-477">
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl050"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl050"
                      /><span>FL050</span></label
                    >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl140"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl140"
                      /><span>FL140</span></label
                    >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl240"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl240"
                      /><span>FL240</span></label
                    >
                  </div>
                  <div class="div-block-477">
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl320"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl320"
                      /><span>FL320</span></label
                    >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl390"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl390"
                      /><span>FL390</span></label
                    >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl480"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl480"
                      /><span>FL480</span></label
                    >
                  </div>
                </form>
              </div>
            </div>

            <!-- MEDIUM LEVEL -->
            <div class="div-block-48-copy">
              <div class="w-form">
                <form>
                  <div class="div-blue-copy">
                    <div class="div-block-477">
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="defaultMed"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.weatherLevels.defaultMed"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >Default Medium Level</span
                        >
                      </label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="div-block-48-copy">
                <form>
                  <div class="div-block-477">
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl100"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl100"
                      /><span>FL100</span></label
                    >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl210"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl210"
                      /><span>FL210</span></label
                    >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl300"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl300"
                      /><span>FL300</span></label
                    >
                  </div>
                  <div class="div-block-477">
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl360"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl360"
                      /><span>FL360</span></label
                    >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl390m"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl390"
                      /><span>FL390</span></label
                    >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl450"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl450"
                      /><span>FL450</span></label
                    >
                  </div>
                </form>
              </div>
            </div>

            <!-- HIGH LEVEL -->
            <div class="div-block-48-copy">
              <div class="w-form">
                <form>
                  <div class="div-blue-copy">
                    <div class="div-block-477">
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="defaultHigh"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.weatherLevels.defaultHigh"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >Default High Level</span
                        >
                      </label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="div-block-48-copy">
                <form>
                  <div class="div-block-477">
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl300h"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl300"
                      /><span>FL300</span></label
                    >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl210h"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl210"
                      /><span>FL210</span></label
                    >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl100h"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl100"
                      /><span>FL100</span></label
                    >
                  </div>
                  <div class="div-block-477">
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl450h"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl450"
                      /><span>FL450</span></label
                    >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl390h"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl390"
                      /><span>FL390</span></label
                    >
                    <label class="w-checkbox checkbox-field-6"
                      ><input
                        type="checkbox"
                        name="fl360h"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.weatherLevels.fl360"
                      /><span>FL360</span></label
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-473">
          <h1 class="heading"><strong>Charts</strong></h1>
          <div class="div-block-478">
            <div class="button-2-copy w-button" (click)="clearAll('charts')">
              Clear All
            </div>
          </div>
          <div class="w-layout-grid grid-45">
            <div class="div-block-48-copy">
              <div class="w-form">
                <form>
                  <div class="div-blue-copy"></div>
                </form>
              </div>
              <div class="div-block-48-copy">
                <form>
                  <div class="checkbox-list local-charts-grid">
                    <label class="w-checkbox checkbox-field-6">
                      <input
                        type="checkbox"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.charts.route"
                      />
                      <span>ROUTE</span>
                    </label>

                    <label class="w-checkbox checkbox-field-6">
                      <input
                        type="checkbox"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.charts.eur"
                      />
                      <span>EUR</span>
                    </label>

                    <label class="w-checkbox checkbox-field-6">
                      <input
                        type="checkbox"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.charts.sio"
                      />
                      <span>SIO (AREA-K)</span>
                    </label>

                    <label class="w-checkbox checkbox-field-6">
                      <input
                        type="checkbox"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.charts.eurafi"
                      />
                      <span>EURAFI (AREA-C)</span>
                    </label>

                    <label class="w-checkbox checkbox-field-6">
                      <input
                        type="checkbox"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.charts.afrasia"
                      />
                      <span>AFRASIA (AREA-D)</span>
                    </label>

                    <label class="w-checkbox checkbox-field-6">
                      <input
                        type="checkbox"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.charts.eursam"
                      />
                      <span>EURSAM (AREA-B)</span>
                    </label>

                    <label class="w-checkbox checkbox-field-6">
                      <input
                        type="checkbox"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.charts.nat"
                      />
                      <span>NAT (AREA-H)</span>
                    </label>
                  </div>
                  <div class="checkbox-list local-charts-grid">
                    <label class="w-checkbox checkbox-field-6">
                      <input
                        type="checkbox"
                        name="eurafiChart"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.charts.eurafi"
                      />
                      <span class="checkbox-label-2-copy w-form-label"
                        >EURAFI<br />(AREA-C)</span
                      >
                    </label>
                    <label class="w-checkbox checkbox-field-6">
                      <input
                        type="checkbox"
                        name="afrasiaChart"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.charts.afrasia"
                      />
                      <span class="checkbox-label-2-copy w-form-label"
                        >AFRASIA<br />(AREA-D)</span
                      >
                    </label>
                    <label class="w-checkbox checkbox-field-6">
                      <input
                        type="checkbox"
                        name="eursamBChart"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.charts.eursam"
                      />
                      <span class="checkbox-label-2-copy w-form-label"
                        >EURSAM<br />(AREA-B)</span
                      >
                    </label>
                  </div>
                  <div class="checkbox-list local-charts-grid">
                    <label class="w-checkbox checkbox-field-6">
                      <input
                        type="checkbox"
                        name="natChart"
                        class="w-checkbox-input zz"
                        [(ngModel)]="settings.charts.nat"
                      />
                      <span class="checkbox-label-2-copy w-form-label"
                        >NAT<br />(AREA-H)</span
                      >
                    </label>
                  </div>
                </form>
                <div class="w-form-done"></div>
                <div class="w-form-fail"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-473">
          <h1 class="heading"><strong>Wind/Temp Charts</strong></h1>
          <div class="div-block-478">
            <div class="button-2-copy w-button" (click)="clearAll('windTemp')">
              Clear All
            </div>
          </div>
          <div class="w-layout-grid grid-45">
            <div class="div-block-48-copy">
              <div class="w-form">
                <form>
                  <div class="div-blue-copy"></div>
                </form>
                <div class="w-form-done"></div>
                <div class="w-form-fail"></div>
              </div>
              <div
                class="div-block-48-copy"
                style="flex-flow: column !important"
              >
                <div class="w-form">
                  <form>
                    <div class="checkbox-list local-charts-grid">
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="wtRoute"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.windTemp.route"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >ROUTE</span
                        >
                      </label>
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="wtSio"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.windTemp.sio"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >SIO <br />(AREA-K)</span
                        >
                      </label>
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="wtWest"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.windTemp.west"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >WEST</span
                        >
                      </label>
                    </div>
                    <div class="checkbox-list local-charts-grid">
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="wtNamafr"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.windTemp.namafr"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >NAMAFR</span
                        >
                      </label>
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="wtAfrica"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.windTemp.africa"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >AFRICA</span
                        >
                      </label>
                      <label
                        class="w-checkbox checkbox-field-6"
                    
                      >
                        <input
                          type="checkbox"
                          name="wtEurafi"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.windTemp.eurafi"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >EURAFI<br />(AREA-C)</span
                        >
                      </label>
                    </div>
                    <div class="checkbox-list local-charts-grid">
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="wtEast"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.windTemp.east"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >EAST</span
                        >
                      </label>
                    </div>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-473">
          <h1 class="heading"><strong>Other Charts and Images </strong></h1>
          <div class="div-block-478">
            <h4 class="heading-6-copy"><strong>Local Charts</strong></h4>
            <div
              class="button-2-copy w-button"
              (click)="clearAll('localCharts')"
            >
              Clear All
            </div>
          </div>
          <div class="w-layout-grid grid-45">
            <div class="div-block-48-copy">
              <div class="w-form">
                <form>
                  <div class="div-blue-copy"></div>
                </form>
                <div class="w-form-done"></div>
                <div class="w-form-fail"></div>
              </div>
              <div class="div-block-48-copy">
                <div class="w-form">
                  <form>
                    <div class="checkbox-list local-charts-grid">
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="blockLow"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.localCharts.blockLow"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >Block<br />Winds:Low</span
                        >
                      </label>
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="blockHigh"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.localCharts.blockHigh"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >Block <br />Winds:High</span
                        >
                      </label>
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="ukAsh"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.localCharts.ukAsh"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >UK<br />VolcanicAsh</span
                        >
                      </label>
                    </div>
                    <div class="checkbox-list local-charts-grid">
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="localHigh"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.localCharts.high"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >High</span
                        >
                      </label>
                      <label class="w-checkbox checkbox-field-6">
                        <input
                          type="checkbox"
                          name="localLow"
                          class="w-checkbox-input zz"
                          [(ngModel)]="settings.localCharts.low"
                        />
                        <span class="checkbox-label-2-copy w-form-label"
                          >Low</span
                        >
                      </label>
                    </div>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-layout-grid grid-42">
          <div
            id="w-node-e348dcbb-d774-4ffe-7fb3-a0c6d69fceea-07cb82d5"
            class="div-block-471"
            (click)="openPopup('folder')"
          >
            <img
              src="../../assets/Icon-ionic-ios-folder.svg"
              loading="lazy"
              alt=""
            />
            <h3 class="heading-49">Folder Format <br />Settings</h3>
          </div>

          <div
            id="w-node-e348dcbb-d774-4ffe-7fb3-a0c6d69fcef0-07cb82d5"
            class="div-block-471"
            (click)="addNewTemplate()"
          >
            <img src="../../assets/Layer-2.svg" loading="lazy" alt="" />
            <h3 class="heading-49">Save Flight<br /></h3>
          </div>

          <div
            id="w-node-e348dcbb-d774-4ffe-7fb3-a0c6d69fcef4-07cb82d5"
            class="div-block-471"
            (click)="openPopup('operation')"
          >
            <img src="../../assets/route.svg" loading="lazy" alt="" />
            <h3 class="heading-49">Route <br />Building</h3>
          </div>

          <div
            id="w-node-e348dcbb-d774-4ffe-7fb3-a0c6d69fcefa-07cb82d5"
            class="div-block-471"
            (click)="clearAllSettings()"
          >
            <img
              src="../../assets/Icon-material-cancel.svg"
              loading="lazy"
              alt=""
            />
            <h3 class="heading-49">Clear All<br /></h3>
          </div>

          <div
            id="w-node-e348dcbb-d774-4ffe-7fb3-a0c6d69fcf00-07cb82d5"
            class="div-block-471"
            (click)="openPopup('document')"
          >
            <img
              src="../../assets/content-management.svg"
              loading="lazy"
              alt=""
            />
            <h3 class="heading-49">Generate <br />Document</h3>
          </div>

          <div
            id="w-node-f38dc051-43ea-93b2-0091-e770f58a5b12-07cb82d5"
            class="div-block-471"
            (click)="calculateDefaults()"
          >
            <img
              src="../../assets/Icon-metro-calculator.svg"
              loading="lazy"
              alt=""
            />
            <h3 class="heading-49">Calculate <br />Default Value</h3>
          </div>
        </div>
      </div>
    </app-package-list-items>
  </app-package-content>
</ion-content>
<app-footer *ngIf="!isKeyboardVisible"></app-footer>

<div class="footerdiv" id="footerdivid1" *ngIf="!isKeyboardVisible">
  <div (click)="NavigateToFlightBriefing()" class="link-block-5 w-inline-block">
    <img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
    <h6
      class="heading-10-copy"
      id="styleh6"
      style="
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        font-size: 12px;
        margin-top: 4px;
      "
    >
      Flight Briefing
    </h6>
  </div>
</div>
