<ion-menu contentId="main-content" type="overlay">
  <div class="navbar-logo-left">
    <div
      data-animation="over-left"
      class="navbar-logo-left-container shadow-three w-nav"
      data-easing2="ease"
      data-easing="ease"
      data-collapse="all"
      role="banner"
      data-no-scroll="1"
      data-duration="400"
      data-doc-height="1"
    >
      <div class="container">
        <div class="navbar-wrapper">
          <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
            <div class="top-nav-div">
              <div class="div-block-12" *ngIf="!isLoggedIn">
                <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
                  <div class="top-nav-div">
                    <div class="div-block-12">
                      <div class="image-3">
                        <img
                          src="../../assets/Mask-Group-33x.png"
                          loading="lazy"
                          alt=""
                          class="img"
                        />
                      </div>
                    </div>
                    <div class="image-3name"></div>
                  </div>
                  <!-- <div class="image-3">
                  <div class="round-images">
                    <img
                      src="../../assets/Mask-Group-33x.png"
                      width="212"
                      alt=""
                      loading="lazy"
                    />
                  </div>-->
                  <!-- </div>  -->
                </nav>
              </div>
              <div class="div-block-12" *ngIf="isLoggedIn && userDetails">
                <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
                  <div class="top-nav-div">
                    <div class="div-block-12">
                      <div class="image-3">
                        <img
                          src="../../assets/Mask-Group-33x.png"
                          loading="lazy"
                          alt=""
                          class="img"
                        />
                      </div>
                    </div>
                    <div class="image-3name">
                      {{ userDetails?.aspUserName }}
                    </div>
                  </div>
                  <!-- <div class="image-3">
                  <div class="round-images">
                    <img
                      src="../../assets/Mask-Group-33x.png"
                      width="212"
                      alt=""
                      loading="lazy"
                    />
                  </div>-->
                  <!-- </div>  -->
                </nav>
              </div>
            </div>
            <mat-list
              role="list"
              class="nav-menu-two w-list-unstyled"
              autoClose="true"
            >
              <ion-menu-toggle class="ion-menu-toggle2">
                <mat-list-item class="list-item" role="listitem">
                  <a [routerLink]="['/landing-page']" class="nav-link">Home</a>
                </mat-list-item>
              </ion-menu-toggle>

              <mat-list-item role="listitem" class="list-item">
                <button
                  mat-button
                  [matMenuTriggerFor]="menu"
                  class="nav-link"
                  style="color: #ffffff"
                >
                  About Us
                  <img
                    src="../assets/Icon ionic-ios-arrow-down.svg"
                    loading="lazy"
                    width="1216"
                    alt=""
                    class="dropdownidon"
                  />
                </button>

                <mat-menu #menu="matMenu">
                  <ion-menu-toggle
                    ><button
                      mat-menu-item
                      value="Aviation Code"
                      (click)="aviationcode()"
                    >
                      Aviation Code
                    </button></ion-menu-toggle
                  >
                  <ion-menu-toggle
                    ><button
                      mat-menu-item
                      value="Contact Us"
                      (click)="contactUs()"
                    >
                      Contact Us
                    </button></ion-menu-toggle
                  >
                  <ion-menu-toggle
                    ><button
                      mat-menu-item
                      value="Related Links"
                      (click)="relatedLink()"
                    >
                      Related Links
                    </button></ion-menu-toggle
                  >
                  <ion-menu-toggle
                    ><button
                      mat-menu-item
                      value="News"
                      *ngIf="isLoggedIn"
                      (click)="news()"
                    >
                      News
                    </button></ion-menu-toggle
                  >
                  <ion-menu-toggle
                    ><button
                      mat-menu-item
                      value="Provide Feedback"
                      (click)="provideFeedback()"
                    >
                      Provide Feedback
                    </button></ion-menu-toggle
                  >
                  <ion-menu-toggle
                    ><button
                      mat-menu-item
                      value="Subscription Packages"
                      (click)="subscriptionPackage()"
                    >
                      Subscription Packages
                    </button></ion-menu-toggle
                  >
                  <ion-menu-toggle
                    ><button
                      mat-menu-item
                      value="Terms and Conditions"
                      (click)="termsAndCondition()"
                    >
                      Terms and Conditions
                    </button></ion-menu-toggle
                  >
                  <ion-menu-toggle>
                    <button mat-menu-item value="POPIA" (click)="POPIA()">
                      POPIA
                    </button></ion-menu-toggle
                  >
                </mat-menu>
              </mat-list-item>

              <ion-menu-toggle class="ion-menu-toggle">
                <mat-list-item role="listitem" class="list-item">
                  <a [routerLink]="['/landing-page']" class="nav-link"
                    >Support</a
                  >
                </mat-list-item>
              </ion-menu-toggle>
            </mat-list>

            <ion-menu-toggle
              ><div
                class="bottom-nav-div"
                (click)="logout()"
                *ngIf="isLoggedIn"
              >
                <img
                  src="../assets/Icon open-account-logout.png"
                  loading="lazy"
                  width="1216"
                  alt=""
                  class="logout"
                />
                <h1 class="heading-4">Logout</h1>
              </div></ion-menu-toggle
            >

            <ion-menu-toggle
              ><div
                class="bottom-nav-div"
                (click)="login()"
                *ngIf="!isLoggedIn"
              >
                <img
                  src="../assets/Icon open-account-login.png"
                  loading="lazy"
                  width="1216"
                  alt=""
                  class="logout"
                />
                <h1 class="heading-4">Login</h1>
              </div></ion-menu-toggle
            >
          </nav>
        </div>
      </div>
    </div>
  </div>
</ion-menu>

<ion-router-outlet id="main-content">
  <div class="top-content">
    <div class="menu-button-container" *ngIf="!isLoginPage()">
      <ion-menu-button
        class="left-aligned-menu-button"
        (click)="fetchUserData()"
      ></ion-menu-button>
    </div>
    <div class="div-block-2">
      <img
        src="../../assets/Path-3452.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
    </div>
    <div class="div-block" *ngIf="!isLoginPage()">
      <div class="round-image">
        <img
          src="../../assets/Mask-Group-33x.png"
          width="212"
          alt=""
          loading="lazy"
          class="mobile-images"
        />
      </div>
    </div>
  </div>
  <div class="bottomdiv">
    <img
      src="../../assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
    <div class="footerdiv"></div>
  </div>
</ion-router-outlet>
