<ion-menu contentId="main-content" type="overlay">
  <div class="navbar-logo-left">
    <div
      data-animation="over-left"
      class="navbar-logo-left-container shadow-three w-nav"
      data-easing2="ease"
      data-easing="ease"
      data-collapse="all"
      role="banner"
      data-no-scroll="1"
      data-duration="400"
      data-doc-height="1"
    >
      <div class="container">
        <div class="navbar-wrapper">
          <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
            <div class="top-nav-div">
              <div class="div-block-12" *ngIf="!isLoggedIn">
                <!-- <img src="images/Group-4557.svg" class="image-3" /> -->
                <div class="image-3"></div>
              </div>
              <div class="div-block-12" *ngIf="isLoggedIn">
                <!-- <img src="images/Group-4557.svg" class="image-3" /> -->
                <div class="image-3">
                  {{ userDetails?.aspUserName }}
                </div>
              </div>
            </div>
            <mat-list
              role="list"
              class="nav-menu-two w-list-unstyled"
              style="list-style-type: none"
            >
              <ion-menu-toggle class="ion-menu-toggle2"
                ><mat-list-item class="list-item" role="listitem"
                  ><a [routerLink]="['/landing-page']" class="nav-link"
                    >Home</a
                  ></mat-list-item
                ></ion-menu-toggle
              >

              <mat-list-item role="listitem" class="list-item">
                <button
                  mat-button
                  [matMenuTriggerFor]="menu"
                  class="nav-link"
                  style="color: #ffffff"
                >
                  About Us
                  <img
                    src="../assets/Icon ionic-ios-arrow-down.svg"
                    loading="lazy"
                    width="1216"
                    alt=""
                    class="dropdownidon"
                  />
                  <ion-menu-toggle></ion-menu-toggle>
                </button>

                <mat-menu #menu="matMenu">
                  <ion-menu-toggle>
                    <button
                      mat-menu-item
                      value="Aviation Code"
                      (click)="aviationcode()"
                    >
                      Aviation Code
                    </button></ion-menu-toggle
                  >
                  <ion-menu-toggle>
                    <button
                      mat-menu-item
                      value="Contact Us"
                      (click)="contactUs()"
                    >
                      Contact Us
                    </button></ion-menu-toggle
                  ><ion-menu-toggle>
                    <button
                      mat-menu-item
                      value="Related Links"
                      (click)="relatedLink()"
                    >
                      Related Links
                      <ion-menu-toggle></ion-menu-toggle></button
                  ></ion-menu-toggle>
                  <ion-menu-toggle
                    ><button
                      mat-menu-item
                      value="News"
                      *ngIf="isLoggedIn"
                      (click)="news()"
                    >
                      News <ion-menu-toggle></ion-menu-toggle></button
                  ></ion-menu-toggle>
                  <ion-menu-toggle>
                    <button
                      mat-menu-item
                      value="Provide Feedback"
                      (click)="provideFeedback()"
                    >
                      Provide Feedback
                      <ion-menu-toggle></ion-menu-toggle></button
                  ></ion-menu-toggle>
                  <ion-menu-toggle>
                    <button
                      mat-menu-item
                      value="Subscription Packages"
                      (click)="subscriptionPackage()"
                    >
                      Subscription Packages
                      <ion-menu-toggle></ion-menu-toggle></button
                  ></ion-menu-toggle>
                  <ion-menu-toggle
                    ><button
                      mat-menu-item
                      value="Terms and Conditions"
                      (click)="termsAndCondition()"
                    >
                      Terms and Conditions
                      <ion-menu-toggle></ion-menu-toggle></button
                  ></ion-menu-toggle>
                  <ion-menu-toggle>
                    <button mat-menu-item value="POPIA" (click)="POPIA()">
                      POPIA <ion-menu-toggle></ion-menu-toggle></button
                  ></ion-menu-toggle> </mat-menu
              ></mat-list-item>
              <ion-menu-toggle class="ion-menu-toggle">
                <mat-list-item role="listitem" class="list-item"
                  ><a [routerLink]="['/landing-page']" class="nav-link"
                    >Support</a
                  ></mat-list-item
                ></ion-menu-toggle
              >
            </mat-list>

            <ion-menu-toggle>
              <div class="bottom-nav-div" (click)="logout()" *ngIf="isLoggedIn">
                <img
                  src="../assets/Icon open-account-logout.png"
                  loading="lazy"
                  width="1216"
                  alt=""
                  class="logout"
                />

                <h1 class="heading-4">Logout</h1>
              </div></ion-menu-toggle
            >
            <ion-menu-toggle>
              <div class="bottom-nav-div" (click)="login()" *ngIf="!isLoggedIn">
                <img
                  src="../assets/Icon open-account-login.png"
                  loading="lazy"
                  width="1216"
                  alt=""
                  class="logout"
                />

                <h1 class="heading-4">Login</h1>
              </div></ion-menu-toggle
            >
          </nav>
          <!-- <div class="menu-button w-nav-button">
            <div class="icon w-icon-nav-menu"></div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
