<section class="landing-page-section">
  <ion-menu-button class="left-aligned-menu-button"></ion-menu-button>
  <div class="div-block-2">
    <img
      src="../../assets/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>
  <div class="avcdiv">
    <div class="div-block-26">
      <h1 class="heading-12">Aviation codes and abbreviations</h1>
      <div class="div-block-24">
        <div class="html-embed-9 w-embed">
          <p>
            View an <a href="">abridged explanation</a> (pdf) of SAWS aviation
            codes based on
            <a href="www.icao.int"
              >ICAO <a> Annex 3, 20th Edition, July 2018. </a></a
            >
          </p>
        </div>
      </div>
      <div class="div-block-25">
        <div class="html-embed-10 w-embed">
          <h5>Please Note:</h5>
          <ul>
            <li>
              The South African Weather Service use
              <a href="www.icao.int">ICAO</a> codes for all aviation
              forecasts./li>
            </li>
            <li>
              Familiarize yourself with these codes in order to understand the
              forecasts better.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomdiv">
    <img
      src="../../assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
    <div class="footerdiv"></div>
  </div>
</section>
