<section class="landing-page-section">
  <!-- <div class="div-block-2">
    <ion-menu-button class="left-aligned-menu-button"></ion-menu-button>
    <img
      src="../../assets/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div> -->
  <div class="avcdiv">
    <div class="div-block-26">
      <h1 class="heading-12">Aviation codes and abbreviations</h1>
      <div class="div-block-24">
        <div class="html-embed-9 w-embed">
          <p>
            View an
            <a
              href="http://aviation.weathersa.co.za/Docs/SAWS_AviationCodes.pdf"
              >abridged explanation</a
            >
            (pdf) of SAWS aviation codes based on
            <a href="https://www.icao.int/Pages/default.aspx">ICAO </a>Annex 3,
            20th Edition, July 2018.
          </p>
        </div>
      </div>
      <div class="div-block-25">
        <div class="html-embed-10 w-embed">
          <h5>Please Note:</h5>
          <ul>
            <li>
              The South African Weather Service use
              <a href="https://www.icao.int/Pages/default.aspx">ICAO</a> codes
              for all aviation forecasts.
            </li>
            <li>
              Familiarize yourself with these codes in order to understand the
              forecasts better.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
