<div class="news">
  <ion-menu-button class="left-aligned-menu-button"></ion-menu-button>
  <div class="div-block-2">
    <img
      src="../../assets/Path-3452.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
  </div>
  <div >
    <div class="div-block-28">
      <h1 class="heading-12">News and Development</h1>
      <h1 class="sub-heading">News / History</h1>
      <h3 class="sub-heading">------------Recent------------</h3>
      <div class="scrol">
      <div class="w-layout-grid grid-17">
        <div
          id="w-node-acf7c90c-f64f-3722-2782-e53f61bfa323-e8a578f4"
          class="div-block-30"
        >
          <h4 class="heading-19">30 Aug 2019</h4>
          <p class="paragraph-9">
            FARB web cam is not be available due to maintenance.
          </p>
        </div>
        <div
          id="w-node-_25955f52-7b0f-63cc-9e69-ef0c966b4f28-e8a578f4"
          class="div-block-30"
        >
          <h4 class="heading-20">30 Aug 2019</h4>
          <p class="paragraph-10">
            FARB web cam is not be available due to maintenance.
          </p>
        </div>
      </div>
      <h3 class="sub-heading">-------------Old----------------</h3>
      <div class="w-layout-grid grid-17">
        <div
          id="w-node-c612107e-7b8f-8d9f-acac-f53d5dedaedc-e8a578f4"
          class="div-block-30"
        >
          <h4 class="heading-19">24 May 2019</h4>
          <p class="paragraph-9">Skukuza radar available.</p>
        </div>
        <div
          id="w-node-c612107e-7b8f-8d9f-acac-f53d5dedaee1-e8a578f4"
          class="div-block-30"
        >
          <h4 class="heading-20">01 April 2019</h4>
          <p class="paragraph-10">
            Irene Radar will be taken off-line between 1 and 5 April 2019 for
            Equipment Manufacturer <br />maintenance. Our Technical Services
            division will bring the radar on-line in the event of
            <br />significant weather.
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="bottomdiv">
    <img
      src="../../assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
    <div class="footerdiv"></div>
  </div>
</div>
