<section class="webcams-section">
  <div class="webcams-div">
    <h1 class="heading-6">Webcams</h1>
    <h1 class="para-webc">
      <strong class="bold-text-4"
        >Available webcams with direction the camera <br />is facing shown in
        brackets:</strong
      >
    </h1>
    <div class="scroll">
      <div class="w-layout-grid webcams-grid">
        <div
          id="w-node-_245180fd-884f-c288-a2d8-09f714abf1b5-4ba9036c"
          class="other-webcams"
        >
          <div class="div-block-14"></div>
          <h1 class="heading-22">
            <strong class="bold-texts"
              >Current webcams                       </strong
            >
          </h1>
          <div class="w-layout-grid webcmas-grid2">
            <div
              id="w-node-_245180fd-884f-c288-a2d8-09f714abf1c6-4ba9036c"
              class="div-block-35"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div id="w-node-_7e9b070b-95fb-468e-d6c2-16388fcf3adc-4ba9036c">
                  <h1 class="heading-24">Location</h1>
                </div>
                <div id="w-node-_243f1f0b-4c71-0166-6fb1-2026431b0bdc-4ba9036c">
                  <h1 class="heading-24">Direction</h1>
                </div>
                <div
                  id="w-node-fb9f2521-f75a-1271-420f-aaafd24b8b25-4ba9036c"
                  class="div-block-459"
                >
                  <h1 class="heading-24">Action</h1>
                </div>
              </div>
            </div>
            <div
              id="w-node-_245180fd-884f-c288-a2d8-09f714abf1d4-4ba9036c"
              class="div-block-462"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div
                  id="w-node-_8586b4d7-a79a-0929-939f-4fdbf7d66e8a-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">George</h1>
                </div>
                <div
                  id="w-node-_8586b4d7-a79a-0929-939f-4fdbf7d66e8d-4ba9036c"
                  class="div-block-458"
                >
                  <h1 class="heading-25">(North)</h1>
                </div>
                <div
                  id="w-node-_8586b4d7-a79a-0929-939f-4fdbf7d66e90-4ba9036c"
                  class="div-block-456"
                >
                  <a
                    href="https://aviation.weathersa.co.za/pib/webcams/index.html"
                    class="button-2-copy w-button"
                    >view</a
                  >
                </div>
              </div>
            </div>
            <div
              id="w-node-_245180fd-884f-c288-a2d8-09f714abf1e2-4ba9036c"
              class="div-block-38"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div
                  id="w-node-e85f438c-e81a-b2f3-d353-be3670c79fd6-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">Kruger Mpumalanga</h1>
                </div>
                <div
                  id="w-node-e85f438c-e81a-b2f3-d353-be3670c79fd9-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">(East)  *</h1>
                </div>
                <div
                  id="w-node-e85f438c-e81a-b2f3-d353-be3670c79fdc-4ba9036c"
                  class="div-block-456"
                >
                  <a
                    href="https://aviation.weathersa.co.za/pib/webcams/KMIA.html"
                    class="button-2-copy w-button"
                    >view</a
                  >
                </div>
              </div>
            </div>
            <div
              id="w-node-_245180fd-884f-c288-a2d8-09f714abf1f0-4ba9036c"
              class="div-block-460"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div
                  id="w-node-_1f806f7b-77b6-dde3-e1da-944a0bc8dbbc-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">Skukuza</h1>
                </div>
                <div
                  id="w-node-_1f806f7b-77b6-dde3-e1da-944a0bc8dbbf-4ba9036c"
                  class="div-block-458"
                >
                  <h1 class="heading-25">(South)</h1>
                </div>
                <div
                  id="w-node-_1f806f7b-77b6-dde3-e1da-944a0bc8dbc2-4ba9036c"
                  class="div-block-456"
                >
                  <a
                    href="https://aviation.weathersa.co.za/pib/webcams/Skukuza.html"
                    class="button-2-copy w-button"
                    >view</a
                  >
                </div>
              </div>
            </div>
            <div
              id="w-node-_245180fd-884f-c288-a2d8-09f714abf1fe-4ba9036c"
              class="div-block-38"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div
                  id="w-node-_141a362a-1225-0735-7074-d2c75ea30da2-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">King Shaka N</h1>
                </div>
                <div
                  id="w-node-_141a362a-1225-0735-7074-d2c75ea30da5-4ba9036c"
                  class="div-block-458"
                >
                  <h1 class="heading-25">(North-east)</h1>
                </div>
                <div
                  id="w-node-_141a362a-1225-0735-7074-d2c75ea30da8-4ba9036c"
                  class="div-block-456"
                >
                  <a
                    href="https://aviation.weathersa.co.za/pib/webcams/ksia-ne000M.jpg"
                    class="button-2-copy w-button"
                    >view</a
                  >
                </div>
              </div>
            </div>
            <div
              id="w-node-_245180fd-884f-c288-a2d8-09f714abf20c-4ba9036c"
              class="div-block-461"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div
                  id="w-node-_9cfcf770-918c-3012-9482-e9ae09a87079-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">King Shaka S</h1>
                </div>
                <div
                  id="w-node-_9cfcf770-918c-3012-9482-e9ae09a8707c-4ba9036c"
                  class="div-block-458"
                >
                  <h1 class="heading-25">(South-east) *</h1>
                </div>
                <div
                  id="w-node-_9cfcf770-918c-3012-9482-e9ae09a8707f-4ba9036c"
                  class="div-block-456"
                >
                  <a
                    href="https://aviation.weathersa.co.za/pib/webcams/ksia-se000M.jpg"
                    class="button-2-copy w-button"
                    >view</a
                  >
                </div>
              </div>
            </div>
            <div
              id="w-node-_245180fd-884f-c288-a2d8-09f714abf1fe-4ba9036c"
              class="div-block-38"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div
                  id="w-node-_141a362a-1225-0735-7074-d2c75ea30da2-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">Constantiaberg</h1>
                </div>
                <div
                  id="w-node-_141a362a-1225-0735-7074-d2c75ea30da5-4ba9036c"
                  class="div-block-458"
                >
                  <h1 class="heading-25">(North-east)</h1>
                </div>
                <div
                  id="w-node-_141a362a-1225-0735-7074-d2c75ea30da8-4ba9036c"
                  class="div-block-456"
                >
                  <a
                    href="https://aviation.weathersa.co.za/pib/webcams/ksia-ne000M.jpg"
                    class="button-2-copy w-button"
                    >view</a
                  >
                </div>
              </div>
            </div>
            <div
              id="w-node-_245180fd-884f-c288-a2d8-09f714abf20c-4ba9036c"
              class="div-block-461"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div
                  id="w-node-_9cfcf770-918c-3012-9482-e9ae09a87079-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">Polokwane</h1>
                </div>
                <div
                  id="w-node-_9cfcf770-918c-3012-9482-e9ae09a8707c-4ba9036c"
                  class="div-block-458"
                >
                  <h1 class="heading-25">(North-East)</h1>
                </div>
                <div
                  id="w-node-_9cfcf770-918c-3012-9482-e9ae09a8707f-4ba9036c"
                  class="div-block-456"
                >
                  <a
                    href="https://aviation.weathersa.co.za/pib/webcams/ksia-se000M.jpg"
                    class="button-2-copy w-button"
                    >view</a
                  >
                </div>
              </div>
            </div>
            <div
              id="w-node-_245180fd-884f-c288-a2d8-09f714abf1fe-4ba9036c"
              class="div-block-38"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div
                  id="w-node-_141a362a-1225-0735-7074-d2c75ea30da2-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">Tzaneen</h1>
                </div>
                <div
                  id="w-node-_141a362a-1225-0735-7074-d2c75ea30da5-4ba9036c"
                  class="div-block-458"
                >
                  <h1 class="heading-25">(North-east)</h1>
                </div>
                <div
                  id="w-node-_141a362a-1225-0735-7074-d2c75ea30da8-4ba9036c"
                  class="div-block-456"
                >
                  <a
                    href="https://aviation.weathersa.co.za/pib/webcams/ksia-ne000M.jpg"
                    class="button-2-copy w-button"
                    >view</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5ceac-4ba9036c"
          class="div-block-15"
        >
          <div class="div-block-14"></div>
          <h1 class="heading-22">
            <strong class="bold-texts">Other Webcams (3rd party)</strong>
          </h1>
          <div class="w-layout-grid webcmas-grid2">
            <div
              id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5ceb2-4ba9036c"
              class="div-block-35"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5ceb4-4ba9036c">
                  <h1 class="heading-24">Location</h1>
                </div>
                <div id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5ceb7-4ba9036c">
                  <h1 class="heading-24">Direction</h1>
                </div>
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5ceba-4ba9036c"
                  class="div-block-459"
                >
                  <h1 class="heading-24">Action</h1>
                </div>
              </div>
            </div>
            <div
              id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5cebd-4ba9036c"
              class="div-block-462"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5cebf-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">Cape Point</h1>
                </div>
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5cec2-4ba9036c"
                  class="div-block-458"
                >
                  <h1 class="heading-25">DEA&amp;DP(North North-east) *</h1>
                </div>
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5cec5-4ba9036c"
                  class="div-block-456"
                >
                  <a
                    href="https://aviation.weathersa.co.za/pib/webcams/CapePoint.html"
                    class="button-2-copy w-button"
                    >view</a
                  >
                </div>
              </div>
            </div>
            <div
              id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5cec8-4ba9036c"
              class="div-block-38"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5ceca-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">Pieterma-<br />ritzburg</h1>
                </div>
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5cecd-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">(North-west)</h1>
                </div>
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5ced0-4ba9036c"
                  class="div-block-456"
                >
                  <a
                    href="https://aviation.weathersa.co.za/pib/webcams/Pietermaritzburg.html"
                    class="button-2-copy w-button"
                    >view</a
                  >
                </div>
              </div>
            </div>
            <div
              id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5ced3-4ba9036c"
              class="div-block-460"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5ced5-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">Richards Bay</h1>
                </div>
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5ced8-4ba9036c"
                  class="div-block-458"
                >
                  <h1 class="heading-25">(South)</h1>
                </div>
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5cedb-4ba9036c"
                  class="div-block-456"
                >
                  <a
                    href="https://aviation.weathersa.co.za/pib/webcams/RichardsBay.html"
                    class="button-2-copy w-button"
                    >view</a
                  >
                </div>
              </div>
            </div>
            <div
              id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5cede-4ba9036c"
              class="div-block-38"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5cee0-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">ZAOPA Webcams</h1>
                </div>
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5cee3-4ba9036c"
                  class="div-block-458"
                >
                  <h1 class="heading-25">(page) *</h1>
                </div>
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5cee6-4ba9036c"
                  class="div-block-456"
                >
                  <a
                    href="https://zaopa.org/jm4/weather-cams"
                    class="button-2-copy w-button"
                    >view</a
                  >
                </div>
              </div>
            </div>
            <div
              id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5cee9-4ba9036c"
              class="div-block-461"
            >
              <div class="w-layout-grid _3-rows-grid">
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5ceeb-4ba9036c"
                  class="div-block-457"
                >
                  <h1 class="heading-25">Aviation Webcams</h1>
                </div>
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5ceee-4ba9036c"
                  class="div-block-458"
                >
                  <h1 class="heading-25">(page / Map)</h1>
                </div>
                <div
                  id="w-node-_6c3c0ffd-5cde-a92b-eb0d-16b1add5cef1-4ba9036c"
                  class="div-block-456"
                >
                  <a
                    href="https://aviationwebcams.co.za/stations/"
                    class="button-2-copy w-button"
                    >view</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomdiv">
    <img
      src="../../assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />

    <div class="footerdiv" id="footerdivid">
      <a (click)="ObservationPage()" class="link-block-5 w-inline-block"
        ><img src="../../assets/Group-4522.svg" loading="lazy" alt="" />
        <h6 class="heading-10-copy" id="styleh6">Observation</h6></a
      >
    </div>
  </div>
</section>
