<ion-content [fullscreen]="true">
  <section class="section">
    <div class="div-block">
      <img
        src="../../../assets/Mask-Group-33x.png"
        loading="lazy"
        width="212"
        alt=""
        class="mobile-images"
      />
    </div>
    <div class="forgot-password">
      <h2 class="login">Forgot Password</h2>
      <div class="w-form">
        <form
          [formGroup]="userForm"
          (ngSubmit)="onSubmit()"
          id="email-form"
          name="email-form"
          data-name="Email Form"
          method="get"
          class="form"
          data-wf-page-id="6595547155ddf699b86b8307"
          data-wf-element-id="e41eeb5c-9e38-416f-f59b-0df062454cc7"
        >
          <p class="paragraph">
            Please enter your email address associated<br />
            with your account and we will send <br />you and email with
            instructions <br />to reset your password
          </p>
          <label for="field" class="field-label">Email Address</label
          ><input
            class="forgot-password-field w-input"
            maxlength="256"
            name="field"
            data-name="Field"
            placeholder="Enter your Email address"
            type="text"
            id="field"
            required=""
            formControlName="Email"
          /><input
            type="submit"
            data-wait="Please wait..."
            class="subscribe w-button"
            value="Submit"
          />
          <div
            style="color: red"
            *ngIf="
            userForm.get('Email')?.hasError('invalidEmail') &&
            !userForm.get('Email')?.hasError('required') &&
            userForm.get('Email')?.touched
          "
            class="error-message"
          >
            Invalid email address. Please enter a valid email.
          </div>
          <div style="color: green" *ngIf="statusMessage == true">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div style="color: red" *ngIf="errorMgs">{{ errorMgs }}</div>
        </form>
        <div
          id="w-node-_5a2d7d19-0969-1d91-ec5c-ff2a96283cf6-b367414f"
          class="div-block-4"
        >
          <a href="/login" class="forgotpassword">Back to login</a>
        </div>
      </div>
    </div>
    <div class="bottomdiv">
      <img
        src="../../../assets/Path-3447.svg"
        loading="lazy"
        width="1216"
        alt=""
        class="image"
      />
    </div>
  </section>
</ion-content>
