<section class="landing-page-section">

  <div class="div-block">
    
    
    <h1 class="alllinks">ALL LINKS</h1>
    <div>
      <div style="height: 50px;">
    <swiper-container #swiper *ngIf="advertisements.length > 0">
      <div class="swiper-wrapper">
        <!-- *ngIf is used to add or remove elements from the DOM (Document Object Model)  -->
        <a *ngIf="currentAdvertisement" [href]="currentAdvertisement.link" target="_blank">
          <img [src]="currentAdvertisement.imageUrl" [alt]="currentAdvertisement.description" width="300px" height="50">
        </a>
      </div>
    </swiper-container>
  </div>
</div>
    
    <div class="w-layout-grid grid-4">
      <div
        id="w-node-af071feb-0e36-aeae-49b6-c57e5055a218-847dc521"
        class="landing-div-grid"
        (click)="forecastPage()"
      >
        <div class="green-div">
          <img
            src="../../assets/Icon-metro-weather5.svg"
            loading="lazy"
            width="115"
            alt=""
          />
        </div>
        <h5 class="sub-heading_grid">Forecast</h5>
      </div>

      <div
        id="w-node-_61659ae2-b0ef-a8ad-99eb-874255c0bab5-847dc521"
        class="landing-div-grid"
        (click)="FlightBriefing()"
      >
        <div class="yellow-div">
          <img
            src="../../assets/Icon-material-flight.svg"
            loading="lazy"
            width="115"
            alt=""
          />
        </div>


        
        <h5 class="sub-heading_grid">Flight Briefing</h5>
      </div>
      <div
        id="w-node-c4f314a9-954c-102d-e1f2-fa5dec99c702-847dc521"
        class="landing-div-grid"
        (click)="domesticPage()"
      >
        <div class="red_div">
          <img
            src="../../assets/Group-4511.svg"
            loading="lazy"
            width="115"
            alt=""
          />
        </div>
        <h5 class="sub-heading_grid">Domestic</h5>
      </div>
      <div
        id="w-node-_7ecd9e74-9122-cd83-2893-59d5763b77d6-847dc521"
        class="landing-div-grid"
        (click)="aerosportPage()"
      >
        <div class="lightbluediv">
          <img
            src="../../assets/Group-4509.svg"
            loading="lazy"
            width="115"
            alt=""
          />
        </div>
        <h5 class="sub-heading_grid">Aerosport</h5>
      </div>
      <div
        id="w-node-_62bdd5ab-1cb6-9030-9448-9d076b2bf9f3-847dc521"
        class="landing-div-grid"
        (click)="observPage()"
      >
        <div class="bluediv">
          <img
            src="../../assets/Group-4508.svg"
            loading="lazy"
            width="115"
            alt=""
          />
        </div>
        <h5 class="sub-heading_grid">Obervation</h5>
      </div>
      <div
        id="w-node-_267a765f-9f55-3727-2c78-7fd64266dd6d-847dc521"
        class="landing-div-grid"
        (click)="InternationalPage()"
      >
        <div class="green-div">
          <img
            src="../../assets/Group-4510.svg"
            loading="lazy"
            width="115"
            alt=""
          />
        </div>
        <h5 class="sub-heading_grid">International</h5>
      </div>
    </div>
  </div>
  <!-- <div class="bottomdiv">
    <img
      src="../../assets/Path-3447.svg"
      loading="lazy"
      width="1216"
      alt=""
      class="image"
    />
    <div class="footerdiv"></div>
  </div> -->
</section>
